/*************************
  Coppermine Photo Gallery
  ************************
  Copyright (c) 2003-2009 Coppermine Dev Team
  v1.1 originally written by Gregory DEMAR

  This program is free software; you can redistribute it and/or modify
  it under the terms of the GNU General Public License version 3
  as published by the Free Software Foundation.
  
  ********************************************
  Coppermine version: 1.4.21
  $HeadURL: https://coppermine.svn.sourceforge.net/svnroot/coppermine/trunk/cpg1.4.x/themes/hardwired/style.css $
  $Revision: 5728 $
  $Author: gaugau $
  $Date: 2009-03-02 09:25:17 +0100 (Mo, 02 Mär 2009) $
**********************************************/

/* Colors used in this style sheet:
Hex 000000 = RBG   0,   0,   0 = black
Hex 005D8C = RBG   0,  93, 140 = dark blue
Hex 333333 = RBG  51,  51,  51 = black
Hex 394048 = RBG  57,  64,  72 = black
Hex 394049 = RBG  57,  64,  73 = black
Hex 404750 = RBG  64,  71,  80 = dark grey
Hex 414852 = RBG  65,  72,  82 = dark grey
Hex 444444 = RBG  68,  68,  68 = dark grey
Hex 474F5A = RBG  71,  79,  90 = dark grey
Hex 49525D = RBG  73,   82, 93 = dark grey
Hex 4F5864 = RBG  79,  88, 100 = dark grey
Hex 4F5964 = RBG  79,  89, 100 = dark grey
Hex 515B67 = RBG  81,  91, 103 = dark grey
Hex 555555 = RBG  85,  85,  85 = medium grey
Hex 56606D = RBG  86,  96, 109 = medium grey
Hex 5B5B5B = RBG  91,  91,  91 = medium grey
Hex 5D6674 = RBG  93, 102, 116 = medium grey
Hex 5D6876 = RBG  93, 104, 118 = medium grey
Hex 616C7A = RBG  97, 108, 122 = medium grey
Hex 616D7B = RBG  97, 108, 123 = medium grey
Hex 6A7786 = RBG 106, 119, 134 = medium grey
Hex 777777 = RBG 119, 119, 119 = medium grey
Hex 8090A3 = RBG 128, 144, 163 = steel grey
Hex 949494 = RBG 148, 148, 148 = medium grey
Hex AEAEAE = RBG 174, 174, 174 = light grey
Hex BDBEBD = RBG 189, 190, 189 = light grey
Hex C7C7C7 = RBG 199, 199, 199 = light grey
Hex CCCCCC = RBG 204, 204, 204 = light grey
Hex DFDFDF = RBG 223, 223, 223 = light grey
Hex EAEAEA = RBG 234, 234, 234 = dark white
Hex EFEFEF = RBG 239, 239, 239 = dark white
Hex F2F8FF = RBG 242, 248, 255 = dark white
Hex FFFFFF = RBG 255, 255, 255 = white
*/

body {
        font-family : Verdana, Arial, Helvetica, sans-serif;
        font-size: 10px;
        color : #AEAEAE;
        margin: 0px;
        background-color:#000000;
        background-image:url(images/hardwired.gif);
        background-repeat:repeat;
        }

table {
        font-size: 10px;
}

h1{
        font-size: 11px;
        font-family: "Verdana", Verdana, Arial, Helvetica, sans-serif;
        text-decoration: none;
        color : #AEAEAE;
        margin: 2px;
        font-style : normal;
}

h2 {

        font-family: Verdana, Helvetica, sans-serif;
        background-image : url(images/box_left_icon.gif);
        background-repeat : no-repeat;
        background-position : left;
        padding-left : 18px;
        font-size: 10px;
        margin: 0px;
        color : #FFFFFF;
}

h3 {
        font-weight: normal;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 12px;
        margin: 2px;
}

p {
        font-family: Verdana, Helvetica, sans-serif;
        font-size: 100%;
        margin: 2px 0px;
}

ul {
        margin-left: 5px;
        padding: 0px;
}

li {
        margin-left: 10px;
        margin-top: 4px;
        margin-bottom: 4px;
        padding: 0px;
        list-style-position: outside;
        list-style-type: disc;
}

.textinput {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 100%;
        border: 1px solid #5D6876;
        padding-right: 3px;
        padding-left: 3px;
        background-color : #414852;
        color:#cccccc;
}

.listbox {
        font-family: Verdana, Arial, Arial, Helvetica, sans-serif;
        background-color : #414852;
        font-size: 100%;
        border: 1px solid #5D6876;
        vertical-align : middle;
        color:#cccccc;
}

.button {
        font-family: Verdana, Helvetica, sans-serif;
        font-size: 100%;
        border: 1px solid #404750;
        background-color : #5D6674;
        color:#cccccc;
}

.comment_button {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 100%;
        border: 1px solid #404750;
        background-color : #5D6674;
        color:#cccccc;
        padding-left: 3px;
        padding-right: 3px;
}

.radio {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 100%;
        vertical-align : middle;
}

.checkbox {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 100%;
        vertical-align : middle;
}

a {
        color: #8090A3;
        text-decoration: none;
}

a:hover {
        color: #8090A3;
        text-decoration: underline;
}

.bblink a {
        color: #8090A3;
        text-decoration: none;
}

.bblink a:hover {
        color: #0033CC;
        text-decoration: underline;
}

.maintable {
        border: 1px solid #394049;
        background-color: #4F5864;
        margin-top: 1px;
        margin-bottom: 1px;
}

.tableh1 {
        background : #4F5964 ;
        color : #FFFFFF;
        padding-top: 3px;
        padding-right: 10px;
        padding-bottom: 3px;
        padding-left: 10px;
}

.tableh1_compact {
        background : #515B67 ;
        color : #CCCCCC;
        padding-top: 2px;
        padding-right: 5px;
        padding-bottom: 2px;
        padding-left: 5px;
}

.tableh2 {
        background: #616C7A ;
        color : #C7C7C7;
        padding-top: 3px;
        padding-right: 10px;
        padding-bottom: 3px;
        padding-left: 10px;
}

.tableh2_compact {
        background: #616D7B ;
        color : #CCCCCC;
        padding-top: 2px;
        padding-right: 5px;
        padding-bottom: 2px;
        padding-left: 5px;
}

.tableb {
        background: #56606D ;
        padding-top: 3px;
        padding-right: 10px;
        padding-bottom: 3px;
        padding-left: 10px;
}

.tableb_compact {
        background: #474F5A;
        padding-top: 2px;
        padding-right: 5px;
        padding-bottom: 2px;
        padding-left: 5px;
}

.tablef {
        background: #5D6976;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
}

.catrow_noalb {
        background: #616C7A ;
        color : #C7C7C7;
        padding-top: 3px;
        padding-right: 10px;
        padding-bottom: 3px;
        padding-left: 10px;
}

.catrow {
        background: #56606D ;
        padding-top: 3px;
        padding-right: 10px;
        padding-bottom: 3px;
        padding-left: 10px;
}

.album_stat {
        font-size : 85%;
        margin: 5px 0px;
}

.thumb_filename {
        font-size: 100%;
        display: block;
}

.thumb_title {
        font-weight : bold;
        font-size: 100%;
        padding: 2px;
        display : block;
}

.thumb_caption {
        font-size: 85%;
        padding: 1px;
        display : block;
}

.thumb_caption a {
        text-decoration: underline;
        color: #AEAEAE;
}

.thumb_num_comments {
        font-weight: normal;
        font-size: 85%;
        padding: 2px;
        font-style : normal;
        display : block;
}

.user_thumb_infobox {
        margin-top: 1px;
        margin-bottom: 1px;
}

.user_thumb_infobox th {
        font-weight : bold;
        font-size: 100%;
        margin-top: 1px;
        margin-bottom: 1px;
        text-align : center;
}

.user_thumb_infobox td {
        font-size: 90%;
        margin-top: 1px;
        margin-bottom: 1px;
        text-align : center;
}

.user_thumb_infobox a {
        text-decoration: none;
        color: #AEAEAE;
}

.user_thumb_infobox a:hover {
        color: #CCCCCC;
        text-decoration: underline;
}

.sortorder_cell {
        background : #49525D ;
        color : #CCCCCC;
        padding: 2px;
        margin: 0px;
}

.sortorder_options {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        background : #49525D ;
        color : #CCCCCC;
        padding: 0px;
        margin: 0px;
        font-weight: normal;
        font-size: 85%;
        white-space: nowrap;
}

.navmenu {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        color: #CCCCCC;
        font-size: 100%;
        font-weight: bold;
        background : #49525D ;
        border-style: none;
}

.navmenu img {
        margin-top: 1px;
        margin-right: 5px;
        margin-bottom: 1px;
        margin-left: 5px;
}

.navmenu a {
        position: relative;
        display: block;
        padding-top: 2px;
        padding-right: 5px;
        padding-bottom: 2px;
        padding-left: 5px;
        text-decoration: none;
        color: #AEAEAE;
}

.navmenu a:hover {
        background : #49525D ;
        text-decoration: none;
        color:         #FFFFFF;
}

.admin_menu_thumb {
        font-family: Verdana, Helvetica, sans-serif;
        font-size: 85%;
        border: 1px solid #005D8C;
        background-color : #5D6674;
        color:#cccccc;
        font-weight: bold;
        margin-top: 0px;
        margin-bottom: 0px;
        width: 85px;
}

.admin_menu_thumb a {
        color: #CCCCCC;
        text-decoration: none;
        display: block;
        position: relative;
        padding-top: 1px;
        padding-bottom: 1px;
        padding-left: 10px;
        padding-right: 10px;
}


.admin_menu_thumb a:hover {
        color: #CCCCCC;
        text-decoration: underline;
}

.admin_menu {
        font-family: Verdana, Helvetica, sans-serif;
        font-size: 85%;
        border: 1px solid #404750;
        background-color : #5D6674;
        color:#CCCCCC;
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: center;
}

.admin_menu a {
        color: #AEAEAE;
        text-decoration: none;
        display: block;
        position: relative;
        padding-top: 1px;
        padding-bottom: 1px;
        padding-left: 2px;
        padding-right: 2px;
}

.admin_menu a:hover {
        color: #CCCCCC;
        text-decoration: underline;
}

td #admin_menu_anim {
        background-image : url(images/button_bg_anim.gif);
}

.comment_date{
        color : #949494;
        font-size : 90%;
        vertical-align : middle;
}

.image {
        border-style: solid;
        border-width:2px;
        border-color: #394048;
        margin: 2px;
}

.imageborder {
        border: 1px solid #000000;
        background-color: #5B5B5B;
        margin-top: 30px;
        margin-bottom: 30px;
}

.display_media {
        background: #56606D ;
        padding-top: 3px;
        padding-right: 10px;
        padding-bottom: 3px;
        padding-left: 10px;
}

.thumbnails {
        background: #49525D ;
        padding: 5px;
}

.footer {
        font-size: 9px;
        color: #000000;
}

.footer a {
        text-decoration: none;
        color: #949494;
}

.footer a:hover {
        color: #000000;
        text-decoration: none;
}

.statlink {
        color: #6A7786;
}

.statlink a {
        text-decoration: none;
        color: #AEAEAE;
}

.statlink a:hover {
        color: #CCCCCC;
        text-decoration: underline;
}

.alblink a {
        text-decoration: underline;
        color: #EAEAEA;
}

.alblink a:hover {
        color: #F2F8FF;
        text-decoration: underline;
}

.catlink {
        display: block;
        margin-bottom: 2px;
}

.catlink a {
        text-decoration: none;
        color: #EAEAEA;
}

.catlink a:hover {
        color: #F2F8FF;
        text-decoration: underline;
}

.topmenu {
        font-size : 100%;
        margin-top:5px;
        margin-right:5px;
}

.topmenu a {
        color : #DFDFDF;
        text-decoration : none;
}

.topmenu a:hover  {
        color : #FFFFFF;
        text-decoration : none;
}

.topmenu td  {
        white-space: nowrap;
        font-weight : bold;
}


.img_caption_table {
        border: none;
        background-color: #49525D;
        width : 100%;
        margin : 0px;
}

.img_caption_table th {
        background: #49525D ;
        font-size : 100%;
        color : #cccccc;
        padding-top: 4px;
        padding-right: 10px;
        padding-bottom: 4px;
        padding-left: 10px;
        border-top : 1px solid #394049;
}

.img_caption_table td {
        background: #49525D ;
        padding-top: 6px;
        padding-right: 10px;
        padding-bottom: 6px;
        padding-left: 10px;
        border-top : 1px solid #394049;
        white-space: normal;
}

.gallery
{
    background-color: #49525D;
}

.gal_name
{
        color:#4C5157;
        white-space:nowrap;
        font-size:20px;
}

.gal_description
{
        color:#4C5157;
        white-space:nowrap;
        font-size:10px;
}

.debug_text {
        border: #BDBEBD;
        background-color: #EFEFEF;
        width : 100%;
        margin : 0px;
}

.clickable_option {
        border-bottom : 1px dotted #444444;
        cursor : default;
}

.listbox_lang {
        color: #BDBEBD;
        background-color: #4F5864;
        border: 1px solid #4F5864;
        font-size: 90%;
        font-family: Arial, Helvetica, sans-serif;
        vertical-align : middle;
}

#vanity a {
        display:block;
        width:57px;
        height:20px;
        margin: 3px 20px;
}
#vanity img {border:0}
#v_php {float:left;background-image:url(../../images/powered-php.gif);}
#v_php:hover {background-image:url(../../images/h_powered-php.gif);}
#v_mysql {float:left;background-image:url(../../images/powered-mysql.gif);}
#v_mysql:hover  {background-image:url(../../images/h_powered-mysql.gif);}
#v_xhtml {float:right;background-image:url(../../images/valid-xhtml10.gif);}
#v_xhtml:hover {background-image:url(../../images/h_valid-xhtml10.gif);}
#v_css {float:right;background-image:url(../../images/valid-css.gif);}
#v_css:hover{background-image:url(../../images/h_valid-css.gif);}

.bottom-left {background-image:url(images/bottom-left.gif);}
.bottom-middle {background-image:url(images/bottom-middle.gif);}
.bottom-right {background-image:url(images/bottom-right.gif);}
.far-left {background-image:url(images/far-left.gif);}
.far-right {background-image:url(images/far-right.gif);}
.hardwired {background-image:url(images/hardwired.gif);}
.left-banner {
    background-image:url(images/left-banner.gif);
    height:46px;
    background-repeat:no-repeat;
    text-align:right;
    padding-right:16px;
    padding-top:16px;
}
.middle-left {background-image:url(images/middle-left.gif);}
.middle-right {background-image:url(images/middle-right.gif);}
.right-banner {
    background-image:url(images/right-banner.gif);
}
.top-left {background-image:url(images/top-left.gif);}
.top-right {background-image:url(images/top-right.gif);}
