@charset "utf-8";
.navigation {
	font-family: Tahoma;
	font-size: small;
	padding-left: 5px;
	color: FF9900;
	font-weight: bold;
}
.subnav {
	font-family: Tahoma;
	font-size: small;
	padding-left: 11px;
	color: FF9900;
	font-weight: bold;
}
