/*************************
  Coppermine Photo Gallery
  ************************
  Copyright (c) 2003-2008 Dev Team
  v1.1 originally written by Gregory DEMAR

  This program is free software; you can redistribute it and/or modify
  it under the terms of the GNU General Public License version 3
  as published by the Free Software Foundation.
  
  ********************************************
  Coppermine version: 1.4.18
  $HeadURL: https://coppermine.svn.sourceforge.net/svnroot/coppermine/trunk/cpg1.4.x/themes/classic/style.css $
  $Revision: 4380 $
  $Author: gaugau $
  $Date: 2008-04-12 12:00:19 +0200 (Sa, 12 Apr 2008) $
**********************************************/

/* Colors used in this style sheet:
   Hex 000000 = RBG   0,   0,   0 = black
   Hex 5F5F5F = RBG  95,  95,  95 = light black
   Hex BDBEBD = RBG 189, 190, 189 = dark grey
   Hex D1D7DC = RBG 209, 215, 220 = medium grey
   Hex CCCCCC = RBG 204, 204, 204 = medium grey
   Hex EFEFEF = RBG 239, 239, 239 = dark white
   Hex FFFFFF = RBG 255, 255, 255 = white
   Hex 005D8C = RBG   0,  93, 140 = dark blue
   Hex 0033CC = RBG   0,  91, 104 = medium blue
   Hex 0E72A4 = RBG  14, 114, 164 = light blue
*/

table {
        font-size: 12px;
}

.textinput {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 100%;
        border: 1px solid #D1D7DC;
        padding-right: 3px;
        padding-left: 3px;
}

.listbox {
        font-family: Verdana, Arial, Arial, Helvetica, sans-serif;
        font-size: 100%;
        border: 1px solid #D1D7DC;
        vertical-align : middle;
}

.comment_button {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 85%;
        border: 1px solid #005D8C;
        background-image : url(images/button_bg.gif);
        background-position : bottom;
        padding-left: 3px;
        padding-right: 3px;
}

.radio {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 100%;
        vertical-align : middle;
}

.checkbox {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 100%;
        vertical-align : middle;
}

.bblink a {
        color: #0033CC;
        text-decoration: none;
}

.bblink a:hover {
        color: #0033CC;
        text-decoration: underline;
}

.maintable {
    /*     border: 1px solid #0E72A4;
       background-color: #FFFFFF;
        background-color: #efefef;*/
        margin-top: 1px;
        margin-bottom: 1px;
}

.tableh1 {
		  font-size: 18px;
		  color: #3B454F;
		  font-weight: bold;
		  border-bottom: 4px solid #3B454F;
}

.tableh1_compact {
       /* display:block;*/
		  margin-top: 10px;
		  margin-bottom: 10px;
border-left: 2px solid #52471C;
padding: 5px 8px 8px 10px;

background: #C2C6CB;
border: 2px solid #7A828B;
color:#000;
font-size: 10px;
}

.tableh2 {
        /*background: #D1D7DC ;*/
        color : #000000;
        padding-top: 3px;
        padding-right: 10px;
        padding-bottom: 3px;
        padding-left: 10px;
}

.tableh2_compact {
        /*background: #D1D7DC ;*/
        color : #000000;
        padding-top: 2px;
        padding-right: 5px;
        padding-bottom: 2px;
        padding-left: 5px;
}

.tableb {
       /* background: #EFEFEF ;*/
        padding-top: 3px;
        padding-right: 10px;
        padding-bottom: 3px;
        padding-left: 10px;
}


.tableb_compact {
        /*background: #EFEFEF ;*/
        padding-top: 2px;
        padding-right: 5px;
        padding-bottom: 2px;
        padding-left: 5px;
}

.tablef {
      /*  background: #D1D7DC;*/
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
}

.catrow_noalb {
       /* background: #D1D7DC ;*/
        color : #000000;
        padding-top: 3px;
        padding-right: 10px;
        padding-bottom: 3px;
        padding-left: 10px;
}

.catrow {
        /*background: #EFEFEF ;*/
        padding-top: 3px;
        padding-right: 10px;
        padding-bottom: 3px;
        padding-left: 10px;
}

.album_stat {
        font-size: 85%;
        margin: 5px 0px;
}

.thumb_filename {
        font-size: 80%;
        display: block;
}

.thumb_title {
        font-weight : bold;
        font-size: 80%;
        padding: 2px;
        display : block;
}

.thumb_caption {
        font-size: 80%;
        padding: 1px;
        display : block;
}

.thumb_caption a {
        text-decoration: underline;
        color: #000000;
}

.thumb_num_comments {
        font-weight: normal;
        font-size: 80%;
        padding: 2px;
        font-style : italic;
        display : block;
}

.user_thumb_infobox {
        margin-top: 1px;
        margin-bottom: 1px;
}

.user_thumb_infobox th {
        font-weight : bold;
        font-size: 100%;
        margin-top: 1px;
        margin-bottom: 1px;
        text-align : center;
}

.user_thumb_infobox td {
        font-size: 80%;
        margin-top: 1px;
        margin-bottom: 1px;
        text-align : center;
}

.user_thumb_infobox a {
        text-decoration: none;
        color: #000000;
}

.user_thumb_infobox a:hover {
        color: #000000;
        text-decoration: underline;
}

.sortorder_cell {
        /*background : #0E72A4 ;*/
        color : #3B454F;
        padding: 0px;
        margin: 0px;
}

.sortorder_options {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        /*background : #0E72A4 ;*/
        color : #3B454F;
        padding: 0px;
        margin: 0px;
        font-weight: normal;
        font-size: 80%;
        white-space: nowrap;
}

.navmenu {
       /* font-family: Verdana, Arial, Helvetica, sans-serif;
        color: #FFFFFF;
        font-size: 100%;
        font-weight: bold;
        background : #0E72A4 ;
        border-style: none;*/
}

.navmenu img {
        margin-top: 1px;
        margin-right: 5px;
        margin-bottom: 1px;
        margin-left: 5px;
}

.navmenu a {
        /*display: block;
        padding-top: 2px;
        padding-right: 5px;
        padding-bottom: 2px;
        padding-left: 5px;
        text-decoration: none;
        color: #FFFFFF;*/
		  display:block;
		  margin-top: 10px;
		  margin-bottom: 10px;
border-left: 2px solid #52471C;
padding: 5px 8px 8px 10px;
text-align: center;
background: #C2C6CB;
border: 2px solid #7A828B;
color:#000;
font-size: 10px;
}

.navmenu a:hover {
        background : #EFEFEF ;
        text-decoration: none;
        color:         #000000;
}

.admin_menu_thumb {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 85%;
        border: 1px solid #005D8C;
        background-image : url(images/button_bg.gif);
        background-position : bottom;
        color: #000000;
        font-weight: bold;
        margin-top: 0px;
        margin-bottom: 0px;
        width: 85px;
}

.admin_menu_thumb a {
        color: #000000;
        text-decoration: none;
        display: block;
        position: relative;
        padding-top: 1px;
        padding-bottom: 1px;
        padding-left: 10px;
        padding-right: 10px;
}


.admin_menu_thumb a:hover {
        color: #000000;
        text-decoration: underline;
}

.admin_menu {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 85%;
       /* border: 1px solid #005D8C;
        background-color:#EFEFEF;
        background-image : url(images/button_bg.gif);
        background-position : bottom;
        color: #000000;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top:2px;
        padding-bottom:2px;
        padding-left:1px;
        padding-right:1px;
        text-align: center;*/
}
.adm_menu {
	font-size: 85%;
}
.adm_menu a {
	text-decoration: none;
}
.adm_menu a:hover {
	text-decoration: none;
		  font-weight: bold;
}
.admin_menu a {
        color: #000000;
        text-decoration: none;
        /*display: block;
        position: relative;
        padding-top: 1px;
        padding-bottom: 1px;
        padding-left: 2px;
        padding-right: 2px;*/
}

.admin_menu a:hover {
        color: #000000;
        text-decoration: none;
		  font-weight: bold;
}

td #admin_menu_anim {
        background-image : url(images/button_bg_anim.gif);
}

.comment_date{
        color : #5F5F5F;
        font-size : 90%;
        vertical-align : middle;
}

.image {
       /* border-style: solid;
        border-width:1px;
        border-color: #000000;
        margin: 2px;*/
}

.imageborder {
        /*border: 1px solid #000000;
        background-color: #FFFFFF;
        margin-top: 30px;
        margin-bottom: 30px;*/
}

.display_media {
        /*background: #EFEFEF ;*/
        padding-top: 3px;
        padding-right: 10px;
        padding-bottom: 3px;
        padding-left: 10px;
}

.thumbnails {
       /* background: #EFEFEF ;*/
        padding: 5px;
}

.footer {
        font-size : 9px;
}
cpg_footer{
	font-size : 90%;
}
.footer a {
        text-decoration: none;
        color: #000000;
}

.footer a:hover {
        color: #000000;
        text-decoration: underline;
}
.statlink {
        color: #3B454F;
		  font-size: 60%;
}

.statlink a {
        text-decoration: none;
        color: #3B454F;
}

.statlink a:hover {
        color: #3B454F;
        text-decoration: underline;
}
.statlink2 {
        display:block;
		  margin-top: 10px;
		  margin-bottom: 10px;
border-left: 2px solid #52471C;
padding: 5px 8px 8px 10px;
text-align: center;
background: #C2C6CB;
border: 2px solid #7A828B;
color:#000;
font-size: 10px;
}

.statlink2 a {
        text-decoration: none;
        color: #FFFFFF;
}

.statlink2 a:hover {
        color: #FFFFFF;
        text-decoration: underline;
}

.alblink a {
        text-decoration: underline;
        color: #000000;
}

.alblink a:hover {
        color: #000000;
        text-decoration: underline;
}
.breadcrumb{
font-size: 11px;
}
.breadcrumb a:hover {
	color: #394A55;
}
.catlink {
        display: block;
        margin-bottom: 2px;
		  font-weight: bold;
}
.catlink a:link{
color: #3B454F;

}
.catlink a {
        text-decoration: underline;
        color: #3B454F;
}

.catlink a:hover {
        color: #000000;
        text-decoration: underline;
}

.topmenu {
        line-height : 130%;
        font-size: 100%;
}

.topmenu a {
        color : #0033CC;
        text-decoration : none;
}

.topmenu a:hover  {
        color : #0033CC;
        text-decoration : underline;
}

.img_caption_table {
        border: none;
        background-color: #FFFFFF;
        width : 100%;
        margin : 0px;
}

.img_caption_table th {
        background: #D1D7DC ;
        font-size: 100%;
        color : #000000;
        padding-top: 4px;
        padding-right: 10px;
        padding-bottom: 4px;
        padding-left: 10px;
        border-top : 1px solid #FFFFFF;
}

.img_caption_table td {
        background: #EFEFEF ;
        padding-top: 6px;
        padding-right: 10px;
        padding-bottom: 6px;
        padding-left: 10px;
        border-top : 1px solid #FFFFFF;
        white-space: normal;
}

.debug_text {
        border: #BDBEBD;
        background-color: #EFEFEF;
        width : 100%;
        margin : 0px;
}

.clickable_option {
        cursor : default;
}

.listbox_lang {
        color: #000000;
        background-color: #D1D7DC;
        border: 1px solid #D1D7DC;
        font-size: 80%;
        font-family: Arial, Helvetica, sans-serif;
        vertical-align : middle;

}
#vanity a {
        display:block;
        width:57px;
        height:20px;
        margin: 3px 20px;
}
#vanity img {border:0}
#v_php {float:left;background-image:url(../../images/powered-php.gif);}
#v_php:hover {background-image:url(../../images/h_powered-php.gif);}
#v_mysql {float:left;background-image:url(../../images/powered-mysql.gif);}
#v_mysql:hover  {background-image:url(../../images/h_powered-mysql.gif);}
#v_xhtml {float:right;background-image:url(../../images/valid-xhtml10.gif);}
#v_xhtml:hover {background-image:url(../../images/h_valid-xhtml10.gif);}
#v_css {float:right;background-image:url(../../images/valid-css.gif);}
#v_css:hover{background-image:url(../../images/h_valid-css.gif);}