/*  
Theme Name: grey style
Theme URI: http://www.plannetworld.com/
Description: business theme
Version: 2.0
Author: feeldesigns
Author URI: http://www.plannetworld.com
*/		
* {
margin: 0px;
padding: 0px;
}

ul {
list-style: none;
}

body {
font-size: 12px;
margin: 0px;
text-align: center;
background-color: black;
color: #000;
font-family:  Verdana, "Times New Roman", Times;
background: #000000;
}


#header {
	margin: 3px auto 0 auto;
	height: 40px;
	width: 980px;
	background:#000 url(img/top.jpg);
}

#header #search{
float: right;
margin: 8px;
width:160px;
font-size:9px;
letter-spacing:1px;
text-align:center;
vertical-align:middle;
}

#blogtitle{
width: 980px;
height:156px;
display: block;
color: #1F1E1E;
margin: 0px auto 0 auto;
padding: 0px 0 0 0;
background: #424C58 url(img/header.jpg) no-repeat;
text-align: center;
}

#blogtitle #title {
float: left;
}

#title h1 {
font-family: "Trebuchet MS";
font-size: 3em;
font-style: italic;
font-weight: normal;
color: #3B454F;
text-transform: capitalize;
margin-top: 65px;
margin-right: 0;
margin-bottom: 0;
margin-left: 100px;
}

#title h1 a {
margin-top: 15px;
margin-right: 0;
margin-bottom: 0;
margin-left: 0px;
color: #3B454F;
text-decoration: none;
}

#title h1 a:hover {
margin-top: 15px;
margin-right: 0;
margin-bottom: 0;
margin-left: 0px;
color: #000009;
text-decoration: none;

}

 
#title p {
font-family: "Trebuchet MS";
font-size: 0.9em;
color: #3B454F;
text-transform: capitalize;
line-height: 15pt;
margin-top: 0;
margin-right: 0px;
margin-bottom: 0;
margin-left: 100px;
letter-spacing: 1pt;

}
                       
#container {
clear:left;
padding:0 0 0 0;
margin-left:auto;
margin-right:auto;
margin-top: 0;
margin-bottom: 0;
width: 980px;
height: auto;
background: #D4D7DA url(img/container.jpg) repeat-y;
}

#leftnav {
float: left;
width: 180px;
margin: 0;
padding-top: 4px;
margin-top: 0;
margin-left: 2px;
margin-bottom: 20px;
text-align: left;
}

#rightnav {
float: right;
width: 180px;
margin: 0;
padding-top: 4px;
margin-top: 0;
margin-bottom: 20px;
margin-right: 2px;
text-align: left;
}

#content {
display: block;
overflow: hidden;
margin: 0 0px 20px 0px;
padding: 1em;
padding-top: 10px;
text-align: left;
}
#content_scrollbar{
	display: block;
	overflow: hidden;
	overflow-x: auto; /* overflow-x: auto;  handle CPG User Manager overflow with scrollbar */
	margin: 0 0px 20px 0px;
padding: 1em;
padding-top: 10px;
text-align: left;
}
#content ul {
padding-left: 15px;
}

#content ul li{
margin-left: 15px;
list-style-type: square;
}

#content ul ul li{
padding-left: 15px;
}

#content ol{
list-style-position: inside;
padding-left: 15px;
padding-top: 2px;
margin-bottom: 10px;
}

#content p {
padding-left: 10px;
}

#footwrap {
width: 980px;
height: 143px;
clear:both;
font-weight: normal;
color: #646D77;
background: url(img/footer.jpg);
}

#footwrap p {
padding: 100px 0 0 0;
display: block;
margin-bottom: 2px;
text-align:center;
}

#footwrap a:link {
color: #343F4B;
text-decoration: none;
border: none;
font-weight: bold;
}

#footwrap a:hover {
color: #656E78;
border: none;
}

#footwrap a:visited:hover {
color: #343F4B;
text-decoration: underline;
border: none;
}

#footwrap a:visited {
color: #515A65;
text-decoration: none;
border: none;
font-weight: bold;
}

#sidebarleft {
color: #000000;
margin-bottom: 10px;
padding: 0 8px  0 8px;
}

#sidebarleft ul{
}

#sidebarleft li{
background: none;
padding-bottom: 8px;
}

#sidebarleft ul li{
display: block;
padding-left: 10px;
margin-left: 5px;
margin-right: 3px;
padding-bottom: 2px;
}

#sidebarleft ul li ul li{
display: block;
padding-left: 10px;
margin-left: 5px;
margin-right: 3px;
padding-bottom: 2px;
}

#sidebarleft ul li li{
display: block;
padding-left: 10px;
margin-left: 5px;
margin-right: 3px;
padding-bottom: 2px;
}

#sidebarleft a:link {
color: #000000;
text-decoration: none;
border: none;
}

#sidebarleft a:hover {
color: #5A6875;
border: none;
}

#sidebarleft a:visited:hover {
color: #5A6875;
border: none;
}

#sidebarleft a:visited {
color: #000000;
text-decoration: none;
border: none;
}

#sidebarleft h2 {
font-family: Arial, sans-serif; 
color: #000000;
padding: 2px 8px 2px 20px;
margin-top:8px;
background :#3B454F url(img/rh2.gif) top left no-repeat;
}

#sidebarleft p{
padding: 3px;
}

#sidebarright{
color: #000000;
margin-bottom: 10px;
padding: 0 8px  0 8px;
}

#sidebarright li{
background: none;
padding-bottom: 8px;
}

#sidebar ul{
list-style: none;
}

#sidebarright ul li{
display: block;
padding-left: 10px;
margin-left: 5px;
margin-right: 3px;
padding-bottom: 2px;
}

#sidebarright li ul li{
display: block;
padding-left: 10px;
margin-left: 5px;
margin-right: 3px;
padding-bottom: 2px;
}

#sidebarright ul li ul li{
padding-left: 10px;
padding-bottom: 2px;
margin-right: 3px;
}

#sidebarright a:link {
color: #000000;
text-decoration: none;
border: none;
}

#sidebarright a:hover {
color: #5A6875;
border: none;
}

#sidebarright a:visited:hover {
color: #5A6875;
border: none;
}

#sidebarright a:visited {
color: #000000;
text-decoration: none;
border: none;
}

#sidebarright h2 {
font-family: Arial, sans-serif; 
color: #000000;
padding: 2px 8px 0px 20px;
background:#3B454F url(img/lh2.gif) top left no-repeat;
margin-top:8px;
}

#sidebarleft p{
padding: 3px;
}

#leftnav p, #rightnav p { margin: 0 0 1em 0; }

#content h2 { margin: 0 0 .5em 0; }

p{
margin-bottom: 12px;
margin-top: 12px;
}

blockquote{
margin: 0px 0px 0px 30px;
padding: 0px 25px 0px 0px;
font-style: italic;
color: #666666;
border-left: 4px solid #3B454F;
}

.postmetadata{
display:block;
margin: 10px 35px 10px 20px;
border-left: 2px solid #52471C;
padding: 5px 8px 8px 35px;
text-align: left;
background: #C2C6CB;
border: 2px solid #7A828B;
color:#000;
}


#content .postmetadata{
padding-left: 2px;
}

.postmetadata a:link{
border: none;
color: #4E4E4E;
font-weight: normal;
}

.postmetadata a:hover{
border: none;
color: #2A2A2A;
font-weight: normal;
text-decoration: none;
}

.postmetadata a:visited:hover{
border: none;
color: #2A2A2A;
font-weight: normal;
}
.postmetadata a:visited{
border: none;
color: #4E4E4E;
font-weight: normal;
}

a:link{
color: #3B454F;
text-decoration: none;
}
a {
	font-weight: bold;
}
a:hover{
text-decoration: underline;
}

a:visited{
color: #3B454F;
text-decoration: none;

}


a:visited:hover{
color: #2A2A2A;
}

a img {
border:none;
background:none;
padding:5px;
}

#feed, #feed img a:link, #feed img a:visited{
border: none;
}

.commentlist{
padding-left: 40px;
padding-right: 15px;
background: #3B454F;
color: #000;
}

.commentlist li{
margin: 2px 2px 2px 2px;
padding-left: 5px;
list-style: none;
background: #C2C6CB;
margin-bottom: 5px;
border: 5px solid #3B454F;
}

li.alt{
background: #C2C6CB;
border: 1px solid #3B454F;
}

.commentlist cite{
padding: 1px 1px 1px 1px;
}

.commentlist p{
padding: 5px 5px 2px 3px;
margin-bottom: 5px;
}

.commentlist a:link{
border: none;
text-decoration: underline;
font-weight: bold;
color: #52606E;
}

.commentlist a:visited{
border: none;
text-decoration: underline;
font-weight: bold;
color: #52606E;
}

.commentlist a:hover{
border: none;
text-decoration: underline;
font-weight: bold;
color: #25200D;
}

.commentlist a:visited:hover{
border: none;
text-decoration: underline;
font-weight: bold;
color: #25200D;
}

.commentmetadata a:link, .commentmetadata a:hover, .commentmetadata a:visited{
text-decoration: none;
color: #0F0F0F;
}

.commentnumber {
font: bold normal 14px 'Times New Roman', Times, serif;
font-weight: bold;
margin-top: 5px;
float:right;
color: #FFFFFF;
font-size: 12pt;
}

#comment{
width:80%;
}

h1{
font-size: 36px;
color: #666666;
}

h2{
font-family: Arial, sans-serif; 
display: block;
font-size: 16px;
font-weight: bold;
padding: 5px 0 0 12px;
margin: 5px 0 6px 0;
text-align: left;
}

h3{
font-family: Arial, sans-serif; 
display: block;
font-size: 14px;
font-weight: bold;
padding: 5px 0 0 12px;
margin: 5px 0 6px 0;
text-align: left;
}

h3.posttitle   {
font-family: Arial, sans-serif; 
font-size: 18px;
font-weight: bold;
padding-left: 5px;
padding-top: 2px;
padding-bottom: 2px;
margin-top: 12px;
margin-bottom: 5px;
border-bottom: 4px solid #3B454F;
}

.posttitle a:link{
font-size: 22px;
color: #3B454F;
font-weight: bold;
}


.posttitle a:visited{
font-size: 22px;
color: #3B454F;
font-weight: bold;
}

.posttitle a:hover{
font-size: 22px;
color: #536270;
font-weight: bold;
text-decoration: none;
}


.posttitle a:visited:hover{
text-decoration: none;
}

h4{
font-family: Arial, sans-serif; 
margin-top: 15px;
font-size: 13px;
font-weight: bold;
padding: 5px 0 0 12px;
margin: 5px 0 6px 0;
text-align: left;
}

h5{
font-family: Arial, sans-serif; 
margin-top: 15px;
font-size: 12px;
font-weight: bold;
padding: 5px 0 0 12px;
margin: 5px 0 6px 0;
text-align: left;
}

.date{
font-size: 18px;
float: right;
letter-spacing: -2px;
padding: 3px 5px 3px 5px;
margin-top: 17px;
text-align: center;
color: #3B454F;
}

.entry{
margin-bottom: 5px;
}

.post{
display: block;
overflow:hidden;
width:98%;
}

code{
display: block;
margin: 10px 30px 0 30px;
padding: 2px 10px 5px 10px;
border-top: 4px solid #798288;
color: #666666;
background: #7B848D;
}

#navigation {
margin-left:auto;
margin-right:auto;
width: 980px;
height: 30px;
overflow: hidden;
line-height:2.7em;
background: #2E3946 url(img/bcklines.jpg) top left no-repeat;
margin-bottom: 0;
}

#navigation ul {
margin:0;
padding:0;
}


#navigation li {
float:left;
margin:0;
padding:0;
list-style-type:none;
white-space:nowrap;
}

#navigation li a {
display:block;
padding:0 18px;
font-size:0.8em;
text-transform:uppercase;
color: #000;
letter-spacing:1px;
}

#navigation li a:hover {
display:block;
padding:0 18px;
font-size:0.8em;
text-transform:uppercase;
color: #AEB4BA;
letter-spacing:1px;
}

* html #navigation a {width:1%;} 

#navigation form {
float:right;
height:100%;
width:164px;
padding:0 15px;
line-height:0;
background:#2E3946;
}

#navigation form fieldset {
margin-top:7px;
border:0 solid; 
}

* html #navigation form fieldset {margin-top:7px;}

#navigation #s {
height:1.5em;
width:115px;
margin:0 5px 0 0;
padding:0;
border:1px solid;
font-size:0.8em;
vertical-align:middle;
}

#header #searchbutton 
{
height:2em;
width:auto;
padding:0 1px;
font-size:9px;
letter-spacing:1px;
text-align:center;
vertical-align:middle;
}

#navigation li {
border-color:#69727C;
}

#navigation a {
color: #000000;
font-weight: bold;
}

#navigation a:hover{
font-size: 10px;
color: #3B454F ;
font-weight: bold;
text-decoration: none;
background-color:transparent;
}

#navigation a:visited{
font-weight: bold;
}

#header #searchbutton {
color:#fff;
background-color:#BEBEBE;
}

.button{
margin-bottom: -4px;
}


#wp-calendar {
empty-cells: show;
margin: 10px auto 0;
width: 160px;
}

#wp-calendar #next a {
padding-right: 10px;
text-align: right;
}

#wp-calendar #prev a {
padding-left: 10px;
text-align: left;
}

#wp-calendar td {
padding: 2px 0;
text-align: center;
}

#wp-calendar th {
text-align: center;
}

#wp-calendar caption {
text-align: center;
width: 100%;
text-transform: uppercase;
font-weight: bold;
}

img {	
border:none;
}

.alignright {
text-align: right;
}

.alignleft {
text-align: left
}

.navigation {
display: block;
text-align: center;
margin-top: 10px;
margin-bottom: 0;
}

.wp-smiley{
padding: 0;
}

.textwidget{
margin: 2px 5px 2px 5px;
}

#body_content {position: absolute;left: -10000px;};