body {
  margin: 0;
}

img {
  border: none;
  margin: 0;
}

html {
        font-family : Verdana, Arial, Helvetica, sans-serif;
        font-size: 10px;
        color : #AEAEAE;
        scrollbar-face-color: #444444;
        scrollbar-highlight-color: #444444;
        scrollbar-shadow-color: #333333;
        scrollbar-3dlight-color: #555555;
        scrollbar-arrow-color:  #777777;
        scrollbar-track-color: #333333;
        scrollbar-darkshadow-color: #333333;
        background-color: black;
}


table {
        font-size: 11px;
}

h1{
        font-size: 11px;
        font-family: Verdana, Verdana, Arial, Helvetica, sans-serif;
        text-decoration: none;
        color : #AEAEAE;
        margin: 2px;
        font-style : normal;
}

h2 {

        font-family: Verdana, Helvetica, sans-serif;
        background-image : url(images/box_left_icon.gif);
        background-repeat : no-repeat;
        background-position : left;
        padding-left : 18px;
        font-size: 11px;
        font-weight: bold;
        margin: 0px;
        color : #CDCDCD;
}

h3 {
        font-weight: normal;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 4px;
        margin: 2px;
}

p {
        font-family: Verdana, Helvetica, sans-serif;
        font-size: 100%;
        margin: 2px 0px;
}

ul {
        margin-left: 5px;
        padding: 0px;
}



.textinput {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 100%;
        border: 1px solid #747475;
        padding-right: 3px;
        padding-left: 3px;
        background-color : #505051;
        color:#cccccc;
}

.listbox {
        font-family: Verdana, Arial, Arial, Helvetica, sans-serif;
        background-color : #515151;
        font-size: 100%;
        border: 1px solid #747475;
        vertical-align : middle;
        color:#cccccc;
}

.button {
        font-family: Verdana, Helvetica, sans-serif;
        font-size: 100%;
        border: 1px solid #4F4F4F;
        background-color : #737373;
        color:#cccccc;
}

.comment_button {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 100%;
        border: 1px solid #4F4F4F;
        background-color : #737373;
        color:#cccccc;
        padding-left: 3px;
        padding-right: 3px;
}

.radio {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 100%;
        vertical-align : middle;
}

.checkbox {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 100%;
        vertical-align : middle;
}

a {
        color: #A1A1A2;
        text-decoration: none;
}

a:hover {
        color: #A1A1A2;
        text-decoration: underline;
}

.bblink a {
        color: #A1A1A2;
        text-decoration: none;
}

.bblink a:hover {
        color: #C7C7C9;
        text-decoration: underline;
}

.maintable {
        border: 1px solid #494949;
        background-color: #636363;
        margin-top: 1px;
        margin-bottom: 1px;
}

.tableh1 {
        background : #636363 ;
        color : #848484;
        padding-top: 3px;
        padding-right: 3px;
        padding-bottom: 3px;
        padding-left: 3px;
}

.tableh1_compact {
        background : #666666 ;
        color : #CCCCCC;
        padding-top: 2px;
        padding-right: 5px;
        padding-bottom: 2px;
        padding-left: 5px;
}

.tableh2 {
        background: #797979 ;
        color : #C7C7C7;
        padding-top: 3px;
        padding-right: 3px;
        padding-bottom: 3px;
        padding-left: 3px;
}

.tableh2_compact {
        background: #7A7A7A ;
        color : #CCCCCC;
        padding-top: 2px;
        padding-right: 5px;
        padding-bottom: 2px;
        padding-left: 5px;
}

.tableb {
        background: #6C6C6C ;
        padding-top: 4px;
        padding-right: 0px;
        padding-bottom: 3px;
        padding-left: 4px;
}

.tableb_compact {
        background: #595959;
        padding-top: 2px;
        padding-right: 5px;
        padding-bottom: 2px;
        padding-left: 5px;
}

.tablef {
        background: #757575;
        padding-top: 8px;
        padding-right: 0px;
        padding-bottom: 8px;
        padding-left: 0px;

}

.album_stat {
        font-size : 100%;
        margin: 5px 0px;
}

.thumb_title {
        font-weight : bold;
        font-size: 100%;
        padding: 2px;
        display : block;
}

.thumb_caption {
        font-size: 100%;
        padding: 1px;
        display : block;
}

.thumb_caption a {
        text-decoration: underline;
        color: #AEAEAE;
}

.thumb_num_comments {
        font-weight: normal;
        font-size: 100%;
        padding: 2px;
        font-style : normal;
        display : block;
}

.user_thumb_infobox {
        margin-top: 1px;
        margin-bottom: 1px;
}

.user_thumb_infobox th {
        font-weight : bold;
        font-size: 100%;
        margin-top: 1px;
        margin-bottom: 1px;
        text-align : center;
}

.user_thumb_infobox td {
        font-size: 100%;
        margin-top: 1px;
        margin-bottom: 1px;
        text-align : center;
}

.user_thumb_infobox a {
        text-decoration: none;
        color: #AEAEAE;
}

.user_thumb_infobox a:hover {
        color: #CCCCCC;
        text-decoration: underline;
}

.sortorder_cell {
        background : #5C5C5C ;
        color : #CCCCCC;
        padding: 2px;
        margin: 0px;
}

.sortorder_options {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        background : #5C5C5C ;
        color : #CCCCCC;
        padding: 0px;
        margin: 0px;
        font-weight: normal;
        font-size: 10px;
}

.navmenu {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        color: #CCCCCC;
        font-size: 100%;
        font-weight: normal;
        background : #5C5C5C ;
        border-style: none;
}

.navmenu img {
        margin-top: 1px;
        margin-right: 10px;
        margin-bottom: 1px;
        margin-left:10px;
}

.navmenu a {
        position: relative;
        display: block;
        padding-top: 2px;
        padding-right: 5px;
        padding-bottom: 2px;
        padding-left: 5px;
        text-decoration: none;
        color: #AEAEAE;
}

.navmenu a:hover {
        background : #777777 ;
        text-decoration: none;
        color:         #DEDEDE;
}

.admin_menu_thumb {
        font-family: Verdana, Helvetica, sans-serif;
        font-size: 100%;
        border: 1px solid #8B8B8B;
        background-color : #737373;
        color:#cccccc;
        font-weight: normal;
        margin-top: 0px;
        margin-bottom: 0px;
}

.admin_menu_thumb a {
        color: #CCCCCC;
        text-decoration: none;
        display: block;
        position: relative;
        padding-top: 1px;
        padding-bottom: 1px;
        padding-left: 5px;
        padding-right: 5px;
}


.admin_menu_thumb a:hover {
        color: #CCCCCC;
        text-decoration: underline;
}

.admin_menu {
        font-family: Verdana, Helvetica, sans-serif;
        font-size: 100%;
        border: 1px solid #4F4F4F;
        background-color : #737373;
        color:#cccccc;
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: center;
}

.admin_menu a {
        color: #AEAEAE;
        text-decoration: none;
        display: block;
        position: relative;
        padding-top: 1px;
        padding-bottom: 1px;
        padding-left: 2px;
        padding-right: 2px;
}

.admin_menu a:hover {
        color: #CCCCCC;
        text-decoration: underline;
}

.comment_date{
        color : #949494;
        font-size : 100%;
        vertical-align : middle;
}

.image {
        border-style: solid;
        border-width:2px;
        border-color: #4B4B4B;
        margin: 1px;
}

.imageborder {
        border: 1px solid #aaaaaa;
        background-color: #5B5B5B;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 2px;
        margin-left: 2px;
}

.thumbnails {

        background: #5C5C5C ;
        padding: 2px;
}

.footer {
        font-size: 11px;
        color: #858686;
}

.footer a {
        text-decoration: none;
        color: #858686;
}

.footer a:hover {
        color: #858686;
        text-decoration: none;
}

.statlink {
        color: #858686;
}

.statlink a {
        text-decoration: none;
        color: #AEAEAE;
}

.statlink a:hover {
        color: #CCCCCC;
        text-decoration: underline;
}

.alblink a {
        text-decoration: underline;
        color: #EAEAEA;
}

.alblink a:hover {
        color: #EAEAEA;
        text-decoration: underline;
}

.catlink {
        display: block;
        margin-bottom: 2px;
}

.catlink a {
        text-decoration: none;
        color: #EAEAEA;
}

.catlink a:hover {
        color: #EAEAEA;
        text-decoration: underline;
}

.topmenu {
        font-size : 100%;
}

.topmenu a {
        color : #CECECE;
        text-decoration : none;
}

.topmenu a:hover  {
        color : #EFEEEE;
        text-decoration : none;
}

.topmenu td  {
        font-weight : normal;
}

.topmenu table {
  margin-left:auto;
  margin-right:auto;
  border-collapse:collapse;
  border: none;
}

.content_area {
  border-collapse:separate;
  margin: 1px;
}

.topmenu_transmission {
  margin: 5px;
}

.img_caption_table {
        border: none;
        background-color: #5C5C5C;
        width : 100%;
        margin : 0px;
}

.img_caption_table th {
        background: #5C5C5C ;
        font-size : 100%;
        color : #cccccc;
        padding-top: 4px;
        padding-right: 10px;
        padding-bottom: 4px;
        padding-left: 10px;
        border-top : 1px solid #484848;
}

.img_caption_table td {
        background: #5C5C5C ;
        padding-top: 6px;
        padding-right: 10px;
        padding-bottom: 6px;
        padding-left: 10px;
        border-top : 1px solid #484848;
}

.debug_text {
        border: #BDBEBD;
        background-color: #EFEFEF;
        width : 100%;
        margin : 0px;
}

.clickable_option {
        cursor : hand;
}

.listbox_lang {
        color: #000000;
        background-color: #D1D7DC;
        border: 1px solid #D1D7DC;
        font-size: 80%;
        font-family: Arial, Helvetica, sans-serif;
        vertical-align : middle;
}


.gal_name {
   font-size: 125%;
   text-align: left;
   color: grey;
   font-weight: bold;
   padding-top: 5px;
}

.menu_title {
  font-size: 10px;
}

.lang_select_flags {
   display:block;
   width:100%;
   margin:10px;
   text-align:center;
}

.select_lists {
  margin: 5px;
}