/*************************
  Coppermine Photo Gallery
  ************************
  Copyright (c) 2003-2009 Coppermine Dev Team
  v1.1 originally written by Gregory DEMAR

  This program is free software; you can redistribute it and/or modify
  it under the terms of the GNU General Public License version 3
  as published by the Free Software Foundation.
  
  ********************************************
  Coppermine version: 1.4.21
  $HeadURL: https://coppermine.svn.sourceforge.net/svnroot/coppermine/trunk/cpg1.4.x/themes/eyeball/style.css $
  $Revision: 5728 $
  $Author: gaugau $
  $Date: 2009-03-02 09:25:17 +0100 (Mo, 02 Mär 2009) $
**********************************************/

/* Colors used in this style sheet:
   Hex 000000 = RBG   0,   0,   0 = black
   Hex 666666 = RBG 102, 102, 102 = light black
   Hex 999999 = RBG 153, 153, 153 = dark grey
   Hex BDBEBD = RBG 189, 190, 189 = medium grey
   Hex EFEFEF = RBG 239, 239, 239 = light grey
   Hex FFFFFF = RBG 255, 255, 255 = white
   Hex FFC956 = RBG 255, 201,  86 = medium orange
   Hex FFE8B7 = RBG 255, 232, 183 = light orange
   Hex 447AC9 = RBG  68, 122, 201 = darker blue
   Hex 0397FF = RBG   3, 151, 255 = lighter blue
*/

/* Foreground color definition */
body { color : #FFFFFF; }

table { border-collapse: collapse; }

.topmenu, .topmenu a { color : #FFFFFF; }

.topmenu a:hover { color : #666666; }

.tableh1, .tableh1a, .tableh1_compact, .navmenu, .navmenu a, .sortorder_cell, .sortorder_options, .statlink, .statlink a, .statlink a:hover { color : #FFC956; }

.tableh2, .tableh2_compact, .catrow_noalb { color : #FFC956; }

.textinput, .listbox, .radio, .checkbox { color: #FFFFFF; }

.alblink, .alblink a, .catlink, .catlink a { color : #FFC956; }

.alblink a:hover, .catlink a:hover { color : #FFE8B7; }

a,  .bblink a, .user_thumb_infobox a  { color: #447AC9; }

a:hover, .bblink a:hover, .user_thumb_infobox a:hover { color : #0397FF; }

.button, .comment_button, .admin_menu_thumb, .admin_menu_thumb a, .admin_menu_thumb a:hover, .admin_menu, .admin_menu a, .admin_menu a:hover { color : #FFFFFF; }

.comment_date { color : #999999; }

.footer, .footer a, .footer a:hover { color : #999999; }


/* Background colors definition */
body { background-color: #000000; }

.textinput, .listbox, .radio, .checkbox { background-color: #000000; }

.tableh1, .tableh1_compact, .navmenu, .navmenu a, .navmenu a:hover  {         background : #000000 ; }

.tableh2, .catrow_noalb, .tableh2_compact, .tablef, .img_caption_table th {         background : #000000 ; }

.tableb, .catrow, .tableb_compact, .thumbnails, .img_caption_table td { background : #000000 ; }


/* Borders for input controls */
.textinput, .listbox, .button, .comment_button, .admin_menu, .admin_menu_thumb  {        border: 1px solid #666666; }

.image { border: 1px solid #FFFFFF; }

.imageborder {
    border: 1px solid #000000;
    background-color: #FFFFFF;
    margin-top: 14px;
    margin-bottom: 10px;
    }

.maintable, .maintableb { background-color: #000000; }

.img_caption_table th, .img_caption_table td { border-top : 1px solid #000000; }

.tableh1 { border-bottom : 1px solid #447AC9; }


/* Fonts definition */
body { font-family: Arial, Helvetica, sans-serif; }

.tableh1, .tableh1a, .catlink, .tableh2, .catrow_noalb { font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; }

.textinput, .listbox, .radio, .checkbox { font-family: Arial, Helvetica, sans-serif; }

.button, .comment_button, .sortorder_options, .admin_menu_thumb { font-family: Arial, Helvetica, sans-serif; }


table {
        font-size : 12px;
}


body {
        font-size : 12px;
        margin: 0px;
}


h1{
        font-weight: normal;
        font-size: 24px;
        font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
        text-decoration: none;
        color: #EEEEEE;
        margin: 0px;
}


h2 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        margin: 0px;
}


h3 {
        font-weight: normal;
        font-family: "Trebuchet MS", Verdana, Geneva, Arial, sans-serif;
        font-size: 14px;
        color: #999999;
        margin: 0px;
}


p {
        font-size: 100%;
        margin: 2px 0px;
}


ul {
        margin-left: 5px;
        padding: 0px;
}


li {
        margin-left: 10px;
        margin-top: 4px;
        margin-bottom: 4px;
        padding: 0px;
        list-style-position: outside;
        list-style-type: disc;
}



.top_panel td {
        white-space: nowrap;
}


.top_menu_bttn a {
        text-decoration: none;
        position: relative;
        display: block;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 12px;
        color: #FFFFFF;
}


.top_menu_bttn a:hover {
        text-decoration: underline;
        margin-top: 2px;
        color: #FFFFFF;
}


.textinput {
        font-size: 100%;
        padding-right: 3px;
        padding-left: 3px;
}


.listbox {
        font-size: 100%;
        vertical-align : middle;
}

.button {
        font-size: 100%;
        background-image : url(images/button_bg.gif);
        background-position : bottom;
        height: 20px;
}


.comment_button {
        font-size: 100%;
        background-image : url(images/button_bg.gif);
        background-position : bottom;
        padding-left: 3px;
        padding-right: 3px;
        height: 20px;
}


.radio {
        font-size: 100%;
        vertical-align : middle;
}


.checkbox {
        font-size: 100%;
        vertical-align : middle;
}


a {
        text-decoration: none;
}


a:hover {
        text-decoration: underline;
}


.bblink a {
        text-decoration: none;
}


.bblink a:hover {
        text-decoration: underline;
}


.maintable {
        margin-top: 2px;
        margin-bottom: 2px;
}


.maintablea {
        margin-top: 10px;
}


.maintableb {
}


.tableh1 {
        padding-right: 10px;
        padding-left: 10px;
        height: 25px;
}


.tableh1a td {
        border: none;
        height: 30px;
        font-size: 150%;
        font-weight: bold;
        background-image: url(images/tableh1a_bg_middle.gif);
        background-position: bottom;
}


.tableh1a img {
        display: block;
}


.tableh1_compact {
        padding-top: 2px;
        padding-right: 5px;
        padding-bottom: 2px;
        padding-left: 5px;
        height: 25px;
}


.tableh2 {
        padding-top: 3px;
        padding-right: 10px;
        padding-bottom: 3px;
        padding-left: 10px;
}

.tableh2_compact {
        padding-top: 2px;
        padding-right: 5px;
        padding-bottom: 2px;
        padding-left: 5px;
}


.tableb {
        padding-top: 3px;
        padding-right: 10px;
        padding-bottom: 3px;
        padding-left: 10px;
}

.tableb_compact {
        padding-top: 2px;
        padding-right: 5px;
        padding-bottom: 2px;
        padding-left: 5px;
}


.tablef {
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
}

.catrow_noalb {
        padding-top: 3px;
        padding-right: 10px;
        padding-bottom: 3px;
        padding-left: 10px;
}

.catrow {
        padding-top: 3px;
        padding-right: 10px;
        padding-bottom: 3px;
        padding-left: 10px;
}

.album_stat {
        font-size : 85%;
        margin: 5px 0px;
}

.thumb_filename {
        font-size: 80%;
        display: block;
}

.thumb_title {
        font-weight : bold;
        font-size: 80%;
        padding: 2px;
        display : block;
}


.thumb_caption {
        font-size: 80%;
        padding: 1px;
        display : block;
}


.thumb_caption a {
        text-decoration: underline;
}



.thumb_num_comments {
        font-weight: normal;
        font-size: 85%;
        padding: 2px;
        font-style : italic;
        display : block;
}


.user_thumb_infobox {
        margin-top: 1px;
        margin-bottom: 1px;
}


.user_thumb_infobox th {
        font-weight : normal;
        font-size: 100%;
        margin-top: 1px;
        margin-bottom: 1px;
        text-align : center;
}


.user_thumb_infobox td {
        font-size: 85%;
        margin-top: 1px;
        margin-bottom: 1px;
        text-align : center;
}


.user_thumb_infobox a {
        text-decoration: none;
}


.user_thumb_infobox a:hover {
        text-decoration: underline;
}


.sortorder_options {
        padding: 0px;
        margin: 0px;
        font-weight: normal;
        font-size: 50%;
        white-space: nowrap;
}


.navmenu {
        font-weight: bold;
        border: none;
}


.navmenu img {
        display: block;
}


.navmenu a {
        display: block;
        padding-left: 5px;
        padding-right: 5px;
        text-decoration: none;
        line-height: 25px;
        height : 25px;
}


.navmenu a:hover {
        text-decoration: none;
}


.admin_menu_thumb {
        font-size: 90%;
        background-image: url(images/button_bg.gif);
        background-position: bottom;

        font-weight: bold;
        margin-top: 0px;
        margin-bottom: 0px;
        width: 85px;
}


.admin_menu_thumb a {
        text-decoration: none;
        display: block;
        position: relative;
        padding-top: 1px;
        padding-bottom: 1px;
        padding-left: 10px;
        padding-right: 10px;
}



.admin_menu_thumb a:hover {
        text-decoration: underline;
}


.admin_menu {
        font-size: 90%;
        background-image: url(images/button_bg.gif);
        background-repeat: repeat-x;
        background-position: top;
        background-color: #3680D9;
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: center;
}


.admin_menu a {
        text-decoration: none;
        display: block;
        position: relative;
        padding-top: 1px;
        padding-bottom: 1px;
        padding-left: 2px;
        padding-right: 2px;
}


.admin_menu a:hover {
        text-decoration: underline;
}

td #admin_menu_anim {
        background-image : url(images/button_bg_anim.gif);
}

.comment_date{
        font-size: 90%;
        vertical-align : middle;
}


.image {
        margin: 2px;
}

.display_media {
        padding-top: 3px;
        padding-right: 10px;
        padding-bottom: 3px;
        padding-left: 10px;
}

.thumbnails {
        padding: 10px;
}


.footer {
        font-size : 9px;
}


.footer a {
        text-decoration: none;
}


.footer a:hover {
        text-decoration: underline;
}


.statlink a {
        text-decoration: none;
}


.statlink a:hover {
        text-decoration: underline;
}


.alblink a {
        text-decoration: underline;
}


.alblink a:hover {
        text-decoration: underline;
}


.catlink {
        display: block;
        margin-bottom: 2px;
}


.catlink a {
        text-decoration: underline;
}


.catlink a:hover {
        text-decoration: underline;
}


.topmenu {
        line-height : 130%;
        font-size : 110%;
}


.topmenu a {
        text-decoration : underline;
}


.topmenu a:hover  {
        text-decoration : underline;
}


.img_caption_table {
        border: none;
        width : 100%;
        margin : 0px;
}


.img_caption_table th {
        font-size : 100%;
        padding-top: 4px;
        padding-right: 10px;
        padding-bottom: 4px;
        padding-left: 10px;
}


.img_caption_table td {
        padding-top: 6px;
        padding-right: 10px;
        padding-bottom: 6px;
        padding-left: 10px;
        white-space: normal;
}

.debug_text {
        border: #BDBEBD;
        background-color: #EFEFEF;
        width : 100%;
        margin : 0px;
}

.clickable_option {
        cursor : default;
}

.listbox_lang {
        color: #FFFFFF;
        background-color: #000000;
        border: 1px solid #666666;
        font-size: 80%;
        font-family: Arial, Helvetica, sans-serif;
        vertical-align : middle;
}

/* Modified Holly-Hack to fix IE 3px bug */

/* Hides from IE-mac \*/

* html .ie_fix {margin-bottom: -3px;}
/* End hide from IE-mac */


#Menu1 {
         position:relative;
         width:780px;
         height:15px;
         top: 3px;
         left: 20px;
         visibility: hidden;
}

#vanity a {
        display:block;
        width:57px;
        height:20px;
        margin: 3px 20px;
}
#vanity img {border:0}
#v_php {float:left;background-image:url(../../images/powered-php.gif);}
#v_php:hover {background-image:url(../../images/h_powered-php.gif);}
#v_mysql {float:left;background-image:url(../../images/powered-mysql.gif);}
#v_mysql:hover  {background-image:url(../../images/h_powered-mysql.gif);}
#v_xhtml {float:right;background-image:url(../../images/valid-xhtml10.gif);}
#v_xhtml:hover {background-image:url(../../images/h_valid-xhtml10.gif);}
#v_css {float:right;background-image:url(../../images/valid-css.gif);}
#v_css:hover{background-image:url(../../images/h_valid-css.gif);}