/*  	
--------------------------------------------------------------
Colours and backgrounds for common.css
-------------------------------------------------------------- */
html, body {
	color: #646075;
	background-color: #FFFFFF;
}

h1 {
	color: #FFFFFF;
}

h2 {
	color: #302F38;
}

h3 {
	border-bottom-color: #CCCCCC;
	color: #3C3772;
}

hr {
	border-color: #FFFFFF;
	border-top-color: #CCCCCC;
}

hr.dashed {
	border-top-color: #CCCCCC;
}

/* Search box
--------------------------------------------- */

#search-box {
	color: #FFFFFF;
}

#search-box #keywords {
	background-color: #FFF;
}

#search-box input {
	border-color: #323B7E;
}

/* Round cornered boxes and backgrounds
---------------------------------------- */
.headerbar {
	background-color: #505BAD;
	background-image: url("images/bg_header.gif");
	color: #FFFFFF;
}

.navbar {
	background-color: #D3D3E2;
}

.forabg {
	background-color: #323B7F;
	background-image: url("images/bg_list.gif");
}

.forumbg {
	background-color: #505BAD;
	background-image: url("images/bg_header.gif");
}

.panel {
	background-color: #EEEEF1;
	color: #302F38;
}

.post:target .content {
	color: #000000;
}

.post:target h3 a {
	color: #000000;
}

.bg1	{ background-color: #EFF0F4; }
.bg2	{ background-color: #E6E6ED;  }
.bg3	{ background-color: #D3D3E2; }

.ucprowbg {
	background-color: #DEDEE0;
}

.fieldsbg {
	background-color: #E8E8E9;
}

span.corners-top {
	background-image: url("images/corners_left.png");
}

span.corners-top span {
	background-image: url("images/corners_right.png");
}

span.corners-bottom {
	background-image: url("images/corners_left.png");
}

span.corners-bottom span {
	background-image: url("images/corners_right.png");
}

/* Horizontal lists
----------------------------------------*/

ul.navlinks {
	border-bottom-color: #FFFFFF;
}

/* Table styles
----------------------------------------*/
table.table1 thead th {
	color: #FFFFFF;
}

table.table1 tbody tr {
	border-color: #C4C2CC;
}

table.table1 tbody tr:hover, table.table1 tbody tr.hover {
	background-color: #DCDAEB;
	color: #000;
}

table.table1 td {
	color: #646075;
}

table.table1 tbody td {
	border-top-color: #FAFAFA;
}

table.table1 tbody th {
	border-bottom-color: #000000;
	color: #333333;
	background-color: #FFFFFF;
}

table.info tbody th {
	color: #000000;
}

/* Misc layout styles
---------------------------------------- */
dl.details dt {
	color: #000000;
}

dl.details dd {
	color: #646075;
}

.sep {
	color: #4A55A0;
}

/* Pagination
---------------------------------------- */

.pagination span strong {
	color: #FFFFFF;
	background-color: #686D9D;
	border-color: #686D9D;
}

.pagination span a, .pagination span a:link, .pagination span a:visited, .pagination span a:active {
	color: #6A6A7E;
	background-color: #EDEDED;
	border-color: #B8B7BD;
}

.pagination span a:hover {
	border-color: #6362A6;
	background-color: #6362A6;
	color: #FFF;
}

/* Pagination in viewforum for multipage topics */
.row .pagination {
	background-image: url("images/icon_pages.gif");
}

.row .pagination span a, li.pagination span a {
	background-color: #FFFFFF;
}

.row .pagination span a:hover, li.pagination span a:hover {
	background-color: #6362A6;
}

/* Miscellaneous styles
---------------------------------------- */

.copyright {
	color: #555555;
}

.error {
	color: #BC2A32;
}

.reported {
	background-color: #F7ECED;
}

li.reported:hover {
	background-color: #ECD6D5 !important;
}
.sticky, .announce {
	/* you can add a background for stickies and announcements*/
}

div.rules {
	background-color: #ECD6D5;
	color: #BC2A32;
}

p.rules {
	background-color: #ECD6D5;
	background-image: none;
}

/*  	
--------------------------------------------------------------
Colours and backgrounds for links.css
-------------------------------------------------------------- */

a:link	{ color: #333267; }
a:visited	{ color: #333267; }
a:hover	{ color: #D3111D; }
a:active	{ color: #6362A6; }

/* Links on gradient backgrounds */
#search-box a:link, .navbg a:link, .forumbg .header a:link, .forabg .header a:link, th a:link {
	color: #FFFFFF;
}

#search-box a:visited, .navbg a:visited, .forumbg .header a:visited, .forabg .header a:visited, th a:visited {
	color: #FFFFFF;
}

#search-box a:hover, .navbg a:hover, .forumbg .header a:hover, .forabg .header a:hover, th a:hover {
	color: #C1C1E6;
}

#search-box a:active, .navbg a:active, .forumbg .header a:active, .forabg .header a:active, th a:active {
	color: #D8D8EF;
}

/* Links for forum/topic lists */
a.forumtitle {
	color: #333267;
}

/* a.forumtitle:visited { color: #333267; } */

a.forumtitle:hover {
	color: #BC2A32;
}

a.forumtitle:active {
	color: #333267;
}

a.topictitle {
	color: #333267;
}

/* a.topictitle:visited { color: #6362A6; } */

a.topictitle:hover {
	color: #BC2A32;
}

a.topictitle:active {
	color: #333267;
}

/* Post body links */
.postlink {
	color: #6362A6;
	border-bottom-color: #6362A6;
}

.postlink:visited {
	color: #7A78A2;
	border-bottom-color: #666666;
}

.postlink:active {
	color: #6362A6;
}

.postlink:hover {
	background-color: #DBDBEB;
	color: #2B2A56;
}

.signature a, .signature a:visited, .signature a:active, .signature a:hover {
	background-color: transparent;
}

/* Profile links */
.postprofile a:link, .postprofile a:active, .postprofile a:visited, .postprofile dt.author a {
	color: #333267;
}

.postprofile a:hover, .postprofile dt.author a:hover {
	color: #D3111D;
}

/* Profile searchresults */	
.search .postprofile a {
	color: #333267;
}

.search .postprofile a:hover {
	color: #D3111D;
}

/* Back to top of page */
a.top {
	background-image: url("{IMG_ICON_BACK_TOP_SRC}");
}

a.top2 {
	background-image: url("{IMG_ICON_BACK_TOP_SRC}");
}

/* Arrow links  */
a.up		{ background-image: url("images/arrow_up.gif") }
a.down		{ background-image: url("images/arrow_down.gif") }
a.left		{ background-image: url("images/arrow_left.gif") }
a.right		{ background-image: url("images/arrow_right.gif") }

a.up:hover {
	background-color: transparent;
}

a.left:hover {
	color: #6362A6;
}

a.right:hover {
	color: #6362A6;
}


/*  	
--------------------------------------------------------------
Colours and backgrounds for content.css
-------------------------------------------------------------- */

ul.forums {
	background-color: #F1F2F6;
	background-image: url("images/gradient.gif");
}

ul.topiclist li {
	color: #5B586B;
}

ul.topiclist dd {
	border-left-color: #FFFFFF;
}

li.row {
	border-top-color:  #FFFFFF;
	border-bottom-color: #293066;
}

li.row strong {
	color: #000000;
}

li.row:hover {
	background-color: #DADDEC;
}

li.row:hover dd {
	border-left-color: #CCCCCC;
}

li.header dt, li.header dd {
	color: #FFFFFF;
}

/* Forum list column styles */
ul.topiclist dd.searchextra {
	color: #333333;
}

/* Post body styles
----------------------------------------*/
.postbody {
	color: #333333;
}

/* Content container styles
----------------------------------------*/
.content {
	color: #333333;
}

.content h2, .panel h2 {
	color: #3C3772;
	border-bottom-color:  #CCCCCC;
}

dl.faq dt {
	color: #333333;
}

.posthilit {
	background-color: #F3BFC2;
	color: #BC2A32;
}

.announce, .unreadpost {
	/* Highlight the announcements & unread posts box */
	border-left-color: #BC2A32;
	border-right-color: #BC2A32;
}

/* Post signature */
.signature {
	border-top-color: #CCCCCC;
}

/* Post noticies */
.notice {
	border-top-color:  #CCCCCC;
}

/* BB Code styles
----------------------------------------*/
/* Quote block */
blockquote {
	background-color: #E1E2E7;
	background-image: url("images/quote.gif");
	border-color:#D1D2D8;
}

blockquote blockquote {
	/* Nested quotes */
	background-color:#DFE0E9;
}

blockquote blockquote blockquote {
	/* Nested quotes */
	background-color: #E1E2E7;
}

/* Code block */
dl.codebox {
	background-color: #FFFFFF;
	border-color: #CDCED4;
}

dl.codebox dt {
	border-bottom-color:  #CCCCCC;
}

dl.codebox code {
	color: #2E8B57;
}

.syntaxbg		{ color: #FFFFFF; }
.syntaxcomment	{ color: #27D853; }
.syntaxdefault	{ color: #3515A6; }
.syntaxhtml		{ color: #000000; }
.syntaxkeyword	{ color: #007700; }
.syntaxstring	{ color: #DD2900; }

/* Attachments
----------------------------------------*/
.attachbox {
	background-color: #FFFFFF;
	border-color:  #CDCED4;
}

.pm-message .attachbox {
	background-color: #F2F3F3;
}

.attachbox dd {
	border-top-color: #CDCED4;
}

.attachbox p {
	color: #666666;
}

.attachbox p.stats
{
	color: #666666;
}

.attach-image img {
	border-color: #999999;
}

/* Inline image thumbnails */

dl.file dd {
	color: #666666;
}

dl.thumbnail img {
	border-color: #666666;
	background-color: #FFFFFF;
}

dl.thumbnail dd {
	color: #666666;
}

dl.thumbnail dt a:hover {
	background-color: #EEEEEE;
}

dl.thumbnail dt a:hover img {
	border-color: #6362A6;
}

/* Post poll styles
----------------------------------------*/

fieldset.polls dl {
	border-top-color: #DEDEE0;
	color: #666666;
}

fieldset.polls dl.voted {
	color: #000000;
}

fieldset.polls dd div {
	color: #FFFFFF;
}

.pollbar1 {
	background-color: #AA232D;
	border-bottom-color: #74161B;
	border-right-color: #74161B;
}

.pollbar2 {
	background-color: #BE1E2D;
	border-bottom-color: #8C1C23;
	border-right-color: #8C1C23;
}

.pollbar3 {
	background-color: #D11A2C;
	border-bottom-color: #AA232D;
	border-right-color: #AA232D;
}

.pollbar4 {
	background-color: #E4162D;
	border-bottom-color: #BE1E2D;
	border-right-color: #BE1E2D;
}

.pollbar5 {
	background-color: #F8112D;
	border-bottom-color: #D11A2C;
	border-right-color: #D11A2C;
}

/* Poster profile block
----------------------------------------*/
.postprofile {
	color: #666666;
	border-left-color: #FFFFFF;
}

.pm .postprofile {
	border-left-color: #DDDDDD;
}

.postprofile strong {
	color: #000000;
}

/*  	
--------------------------------------------------------------
Colours and backgrounds for buttons.css
-------------------------------------------------------------- */a.print {
	background-image: url("images/icon_print.gif");
}

a.sendemail {
	background-image: url("images/icon_sendemail.gif");
}

a.fontsize {
	background-image: url("images/icon_fontsize.gif");
}

/* Icon images
---------------------------------------- */
.sitehome						{ background-image: url("images/icon_home.gif"); }
.icon-faq						{ background-image: url("images/icon_faq.gif"); }
.icon-members					{ background-image: url("images/icon_members.gif"); }
.icon-home						{ background-image: url("images/icon_home.gif"); }
.icon-ucp						{ background-image: url("images/icon_ucp.gif"); }
.icon-register					{ background-image: url("images/icon_register.gif"); }
.icon-logout					{ background-image: url("images/icon_logout.gif"); }
.icon-bookmark					{ background-image: url("images/icon_bookmark.gif"); }
.icon-bump						{ background-image: url("images/icon_bump.gif"); }
.icon-subscribe					{ background-image: url("images/icon_subscribe.gif"); }
.icon-unsubscribe				{ background-image: url("images/icon_unsubscribe.gif"); }
.icon-pages						{ background-image: url("images/icon_pages.gif"); }
.icon-search					{ background-image: url("images/icon_search.gif"); }

/*  	
--------------------------------------------------------------
Colours and backgrounds for cp.css
-------------------------------------------------------------- */

/* Main CP box
----------------------------------------*/

#cp-main h3, #cp-main hr, #cp-menu hr {
	border-color: #ACACB7;
}

#cp-main .panel li.row {
	border-bottom-color: #BBBBC5;
	border-top-color: #F9F9F9;
}

ul.cplist {
	border-top-color: #BBBBC5;
}

#cp-main .panel li.header dd, #cp-main .panel li.header dt {
	color: #000000;
}

#cp-main table.table1 thead th {
	color: #333333;
	border-bottom-color: #333333;
}

#cp-main .pm-message {
	border-color: #DDDDE0;
	background-color: #FFFFFF;
}

/* CP tabbed menu
----------------------------------------*/
#tabs a {
	background-image: url("images/bg_tabs1.gif");
}

#tabs a span {
	background-image: url("images/bg_tabs2.gif");
	color: #646075;
}

#tabs a:hover span {
	color: #BC2A32;
}

#tabs .activetab a {
	border-bottom-color: #D3D3E2;
}

#tabs .activetab a span {
	color: #333333;
}

#tabs .activetab a:hover span {
	color: #000000;
}

/* Mini tabbed menu used in MCP
----------------------------------------*/
#minitabs li {
	background-color: #E6E6ED;
}

#minitabs li.activetab {
	background-color: #F9F9F9;
}

#minitabs li.activetab a, #minitabs li.activetab a:hover {
	color: #333333;
}

/* UCP navigation menu
----------------------------------------*/

/* Link styles for the sub-section links */
#navigation a {
	color: #333;
	background-color: #BABAC7;
	background-image: url("images/bg_menu.gif");
}

#navigation a:hover {
	background-color: #B2B2BE;
	color: #BC2A32;
}

#navigation #active-subsection a {
	color: #D3111D;
	background-color: #F9F9F9;
	background-image: none;
}

#navigation #active-subsection a:hover {
	color: #D3111D;
}

/* Preferences pane layout
----------------------------------------*/
#cp-main h2 {
	color: #333333;
}

#cp-main .panel {
	background-color: #F9F9F9;
}

#cp-main .pm {
	background-color: #FFFFFF;
}

#cp-main span.corners-top, #cp-menu span.corners-top {
	background-image: url("images/corners_left2.gif");
}

#cp-main span.corners-top span, #cp-menu span.corners-top span {
	background-image: url("images/corners_right2.gif");
}

#cp-main span.corners-bottom, #cp-menu span.corners-bottom {
	background-image: url("images/corners_left2.gif");
}

#cp-main span.corners-bottom span, #cp-menu span.corners-bottom span {
	background-image: url("images/corners_right2.gif");
}

/* Topicreview */
#cp-main .panel #topicreview span.corners-top, #cp-menu .panel #topicreview span.corners-top {
	background-image: url("images/corners_left.gif");
}

#cp-main .panel #topicreview span.corners-top span, #cp-menu .panel #topicreview span.corners-top span {
	background-image: url("images/corners_right.gif");
}

#cp-main .panel #topicreview span.corners-bottom, #cp-menu .panel #topicreview span.corners-bottom {
	background-image: url("images/corners_left.gif");
}

#cp-main .panel #topicreview span.corners-bottom span, #cp-menu .panel #topicreview span.corners-bottom span {
	background-image: url("images/corners_right.gif");
}

/* Friends list */
.cp-mini {
	background-color: #F1F2F6;
}

dl.mini dt {
	color: #4F4D5C;
}

/* PM Styles
----------------------------------------*/
/* PM Message history */
.current {
	color: #999999 !important;
}

/* PM marking colours */
.pmlist li.pm_message_reported_colour, .pm_message_reported_colour {
	border-left-color: #BC2A32;
	border-right-color: #BC2A32;
}

.pmlist li.pm_marked_colour, .pm_marked_colour {
	border-color: #6CE51A;
}

.pmlist li.pm_replied_colour, .pm_replied_colour {
	border-color: #B0B1BB;
}

.pmlist li.pm_friend_colour, .pm_friend_colour {
	border-color: #7A78A2;
}

pmlist li.pm_foe_colour, .pm_foe_colour {
	border-color: #000000;
}

/* Avatar gallery */
#gallery label {
	background-color: #FFFFFF;
	border-color: #CCC;
}

#gallery label:hover {
	background-color: #EEE;
}

/*  	
--------------------------------------------------------------
Colours and backgrounds for forms.css
-------------------------------------------------------------- */

/* General form styles
----------------------------------------*/
select {
	border-color: #666666;
	background-color: #FAFAFA;
}

label {
	color: #4F4D5C;
}

/* Definition list layout for forms
---------------------------------------- */
dd label {
	color: #333;
}

/* Hover effects */
fieldset dl:hover dt label {
	color: #000000;
}

fieldset.fields2 dl:hover dt label {
	color: inherit;
}

/* Quick-login on index page */
fieldset.quick-login input {
	background-color: #F2F3F3;
}

/* Posting page styles
----------------------------------------*/

#message-box textarea {
	color: #333333;
}

/* Input field styles
---------------------------------------- */
.inputbox {
	background-color: #FFFFFF; 
	border-color: #B8B7BD;
	color: #333333;
}

.inputbox:hover {
	border-color: #4F5AAC;
}

.inputbox:focus {
	border-color: #4F5AAC;
	color: #353165;
}

/* Form button styles
---------------------------------------- */

a.button1, input.button1, input.button3, a.button2, input.button2 {
	color: #000;
	background-color: #FAFAFA;
	background-image: url("images/bg_button.gif");
}

a.button1, input.button1 {
	border-color: #666666;
}

input.button3 {
	background-image: none;
}

/* Alternative button */
a.button2, input.button2, input.button3 {
	border-color: #666666;
}

/* <a> button in the style of the form buttons */
a.button1, a.button1:link, a.button1:visited, a.button1:active, a.button2, a.button2:link, a.button2:visited, a.button2:active {
	color: #000000;
}

/* Hover states */
a.button1:hover, input.button1:hover, a.button2:hover, input.button2:hover, input.button3:hover {
	border-color: #BC2A32;
	color: #BC2A32;
}

input.search {
	background-image: url("images/icon_textbox_search.gif");
}