/*  
    --------------------------------------------------------------
* @name portal_adds.css
* @package phpBB3 Portal XL
* @version $Id: portal_adds.css,v 1.61 2008/10/10 22:52:41 damysterious Exp $
*
* @copyright (c) 2007, 2008  Portal XL Group
* @license http://opensource.org/licenses/gpl-license.php GNU Public License 
    --------------------------------------------------------------
*/

/* additional proSilver Markup Styles using different colors green
----------------------------------------------------------- */
div.white {
	background-color: #FFFFFF;
/*    background-image: url("images/white_bg.gif"); */	
	color: #669966;
	padding: 0px 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 1.1em;
}

p.white {
	background-color: #FFFFFF;
/*    background-image: url("images/white_bg.gif"); */	
	padding: 5px;
}

/* additional proSilver Markup Styles using different colors green
----------------------------------------------------------- */
div.green {
	background-color: #E4F4D5;
/*    background-image: url("images/green_bg.gif"); */	
	color: #669966;
	padding: 0px 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 1.1em;
}

p.green {
	background-color: #E4F4D5;
/*    background-image: url("images/green_bg.gif"); */	
	padding: 5px;
}

/* additional proSilver Markup Styles using different colors darkgreen
----------------------------------------------------------- */
div.darkgreen {
	background-color: #C6DDC6;
/*    background-image: url("images/darkgreen_bg.gif"); */
	color: #669966;
	padding: 0px 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 1.1em;
}

p.darkgreen {
	background-color: #C6DDC6;
/*    background-image: url("images/darkgreen_bg.gif"); */
	padding: 5px;
}

/* additional proSilver Markup Styles using different colors brown
----------------------------------------------------------- */
div.brown {
	background-color: #ECD9C8;
/*    background-image: url("images/brown_bg.gif");	*/
	color: #9C6834;
	padding: 0px 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 1.1em;
}

p.brown {
	background-color: #ECD9C8;
/*    background-image: url("images/brown_bg.gif");	*/
	padding: 5px;
}

/* additional proSilver Markup Styles using different colors khaki
----------------------------------------------------------- */
div.khaki {
	background-color: #F0E68C;
/*    background-image: url("images/khaki_bg.gif");	*/
	color: Black;
	padding: 0px 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 1.1em;
}

p.khaki {
	background-color: #F0E68C;
/*    background-image: url("images/khaki_bg.gif");	*/
	padding: 5px;
}

/* additional proSilver Markup Styles using different colors yellow
----------------------------------------------------------- */
div.yellow {
	background-color: #FFFFCE;
/*    background-image: url("images/yellow_bg.gif");	*/
	color: Black;
	padding: 0px 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 1.1em;
}

p.yellow {
	background-color: #FFFFCE;
/*    background-image: url("images/yellow_bg.gif");	*/
	padding: 5px;
}

/* additional proSilver Markup Styles using different colors orange
----------------------------------------------------------- */
div.orange {
	background-color: #FFD3A6;
	color: Black;
	padding: 0px 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 1.1em;
}

p.orange {
	background-color: #FFD3A6;
	background-image: none;
	padding: 5px;
}

/* additional proSilver Markup Styles using different colors khaki
----------------------------------------------------------- */
div.red {
	background-color: #AA1F00;
/*    background-image: url("images/khaki_bg.gif");	*/
	color: #FFFFFF;
	padding: 0px 5px;

	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 1.1em;
}

p.red {
	background-color: #AA1F00;
/*    background-image: url("images/khaki_bg.gif");	*/
	padding: 5px;
}

/*  	
--------------------------------------------------------------
Outside wrapper prosilver html, body tag copy from colours.css inhere
-------------------------------------------------------------- */
html, body {
	color: #68696D;
	background-color: #D6D6D6;
    background: url("images/body_bg0.gif") fixed;
	background-position: center center;
}
 
body {
	/* Text-Sizing with ems: http://www.clagnut.com/blog/348/ */
	font-family: Verdana, Helvetica, Arial, sans-serif;
	color: #536482;
	background-color: #D6D6D6;
	margin: 0;
}
 
/* Site description and logo rotating header set to hight of header picture -10 px */
#site-description {
	height: 90px;
}
 
/* additional proSilver Markup Styles outside rouded
----------------------------------------------------------- */
.top-left, .top-right, .bottom-left, .bottom-right { 
   height: 20px;       /* CHANGE: replace by the height of one of your corners (= 1/2 height of the image) */
   font-size: 2px;    /* DNC: correction IE for height of the <div>'s */
}
   
.top-left { 
   background-image: url("images/corners0.gif"); background-repeat: no-repeat; /* CHANGE: path and name of your image */
   background-position: 0 -20px; /* CHANGE: replace second number by negative height of one of your corners */
   margin-left: 1px;  /* CHANGE: replace by the width of one of your corners */
   margin-top: 0px;  /* CHANGE: replace by the height of one of your corners */
   margin-right: 9px; /* CHANGE: replace by the width of one of your corners */
}

.top-right { 
   background-image: url("images/corners0.gif"); background-repeat: no-repeat; /* CHANGE: path and name of your image */
   background-position: 100% 0;    /* DNC: position right corner at right side, no vertical changes */
   margin-left: 0px;  /* CHANGE: replace by the width of one of your corners */
   margin-top: -9px;  /* CHANGE: replace by the height of one of your corners */
   margin-right: 1px; /* CHANGE: replace by the width of one of your corners */
}

.top-center { 
   background-image: url("images/bg_head.gif"); /* CHANGE: path and name of your image */
   background-position: 0 0px; /* CHANGE: replace second number by negative height of one of your corners */
   height: 20px;       /* CHANGE: replace by the height of one of your corners (= 1/2 height of the image) */
   font-size: 2px;    /* DNC: correction IE for height of the <div>'s */
   margin-left: 20px;  /* CHANGE: replace by the width of one of your corners */
   margin-top: -20px;  /* CHANGE: replace by the height of one of your corners */
   margin-right: 20px; /* CHANGE: replace by the width of one of your corners */
   margin-bottom: -20px; /* CHANGE: replace by the width of one of your corners */
}
   
.bottom-left  { 
   background-image: url("images/corners_.gif"); background-repeat: no-repeat; /* CHANGE: path and name of your image */
   background-position: 0 0px; /* CHANGE: replace second number by negative height of one of your corners */
   margin-right: 0px; /* CHANGE: replace by the width of one of your corners */
   margin-left: 1px;  /* CHANGE: replace by the width of one of your corners */
   margin-top: 0px;  /* CHANGE: replace by the height of one of your corners */
}

.bottom-right { 
   background-image: url("images/corners_.gif"); background-repeat: no-repeat; /* CHANGE: path and name of your image */
   background-position: 100% -20px; /* CHANGE: replace second number by negative height of one of your corners */
   margin-right: 1px; /* CHANGE: replace by the width of one of your corners */
   margin-left: 0px;  /* CHANGE: replace by the width of one of your corners */
   margin-top: -20px;  /* CHANGE: replace by the height of one of your corners */
}

.bottom-center { 
   background-image: url("images/bg_foot.gif"); /* CHANGE: path and name of your image */
   background-position: 0 0px; /* CHANGE: replace second number by negative height of one of your corners */
   height: 20px;       /* CHANGE: replace by the height of one of your corners (= 1/2 height of the image) */
   font-size: 2px;    /* DNC: correction IE for height of the <div>'s */
   margin-left: 20px;  /* CHANGE: replace by the width of one of your corners */
   margin-top: -20px;  /* CHANGE: replace by the height of one of your corners */
   margin-right: 20px; /* CHANGE: replace by the width of one of your corners */
   margin-bottom: -20px; /* CHANGE: replace by the width of one of your corners */
}

.inside {
   border-left: 0px solid #000000; /* YCC: color & properties of the left-borderline */
   border-right: 0px solid #000000;/* YCC: color & properties of the right-borderline */
   background: #FFFFFF;            /* YCC: background-color of the inside */
   color: #000000;                 /* YCC: default text-color of the inside */
   padding-left: 0px;              /* YCC: all texts at some distance of the left border */
   padding-right: 0px;             /* YCC: all texts at some distance of the right border */
   background-image: url("images/bg_body0.gif"); /* CHANGE: path and name of your image */
   background-repeat:repeat-y; 
   margin-left: 0px;  /* CHANGE: replace by the width of one of your corners */
   margin-right: 0px; /* CHANGE: replace by the width of one of your corners */ 
}
   
.notopgap    { margin-top: 0; }    /* DNC: to avoid splitting of the box */
.nobottomgap { margin-bottom: 0; } /* DNC: to avoid splitting of the box */

/*  	
--------------------------------------------------------------
#wrap tag copy from common.css inhere
-------------------------------------------------------------- */
#wrap {  
   padding: 0px 20px 0 20px;
   min-width: 650px;
   width: 930px;  /* change here to set the inner width (forum) of the wrapper */
   margin: 0px auto;  
}  

.outside {
   margin: 0px auto;
   width : 970px; /* change here to set the outer width (borders) of the wrapper */
   <!--[if IE]>
   overflow:hidden;
   <![endif]-->   
}

