﻿/*************************
  Coppermine Photo Gallery
  ************************
  Copyright (c) 2003-2008 Dev Team
  v1.1 originally written by Gregory DEMAR

  This program is free software; you can redistribute it and/or modify
  it under the terms of the GNU General Public License version 3
  as published by the Free Software Foundation.
  
  ********************************************
  Coppermine version: 1.4.x
**********************************************/

/* Colors used in this style sheet:
    Hex 000000 = RBG   0,   0,   0 = black
    Hex 222222 = RBG  34,  34,  34 = black
    Hex 343333 = RBG  52,  51,  51 = black
    Hex 3F3F3F = RBG  63,  63,  63 = light black
    Hex 454444 = RBG  69,  68,  68 = light black
    Hex 4A4A4A = RBG  74,  74,  74 = dark grey
    Hex 5F5F5F = RBG  95,  95,  95 = dark grey
    Hex 666666 = RBG 102, 102, 102 = dark grey
    Hex 838383 = RBG 131, 131, 131 = medium grey
    Hex BDBEBD = RBG 189, 190, 189 = medium grey
    Hex BFC0C3 = RBG 191, 192, 195 = medium grey
    Hex C6B78E = RBG 198, 183, 142 = beige
    Hex E6E6E6 = RBG 230, 230, 230 = light grey
    Hex EFEFEF = RBG 239, 239, 239 = light grey
    Hex F0AF00 = RBG 240, 175,   0 = orange
    Hex ff0000 = RBG 255,   0,   0 = red
    Hex FFFFCC = RBG 255, 255, 204 = light yellow
    Hex FFFFFF = RBG 255, 255, 255 = white
*/
.admin_menu { }

.alblink {      /* . */   
	color : #FFFFFF;
    font-weight:bold;
}
.alblink a {
	color : #00FF00;
    text-decoration: underline;
}
.alblink a:hover {
	color : #1DB8FE;
	text-decoration: underline;
}
.alblink a:visited {
	color: #CC9900;
	text-decoration: underline;
}

.album_stat {      /* */   
    font-size : 85%;
    margin: 5px 0px;
}


.bblink {      /* Links created by bbcode input */ }
.bblink a {
	color: #00FF00;
    text-decoration: none;
}
.bblink a:hover {
	color : #E6E6E6; 
    text-decoration: underline;
}

.button {
	/* Used for buttons (<button type="button" class="button"></button> / <input type="button" class="button" />) */    
	color : #FFFFFF;
	font-size: 100%;
	background: url('images/button_bg.gif') repeat-x center center;
	padding-right: 15px;
	padding-left: 15px;
}
.button span.bb {
	text-decoration: underline;
}
.button:hover {
	color : #1DB8FE;
	background: url('images/button_bg_anim.gif') repeat-x center center;
}

.buttonOK {
	/* Used for buttons (<button type="button" class="button"></button> / <input type="button" class="button" />) */   
	 
	color : #FFFFFF;
	border: 1px solid #666666;
	font-size: 100%;
	background-image: url('images/button_ok.png');
	background-position: center center;
	padding-right: 15px;
	padding-left: 15px;
	background-repeat: no-repeat;
	width: 130px;
	height: 30px;
}

.buttonOK:hover {
	border-style: solid;
	border-width: 1px;
	border-color: #000000 #666666 #666666 #000000;
	color : #000000;
	background-image : url('images/button_ok_hover.png');
	background-position: center center;
	background-repeat: no-repeat;
}

.catlink {    
/*	background : #3F3F3F ;*/
	
	display: block;
	margin-bottom: 2px;
}

.catrow {   /* Row in a category table */   
	border: 1px solid #808080;
	background: #454444;
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 3px;
	padding-left: 10px;
	color : #FFFFFF;
}
.catrow_noalb {      /* Row in a category table that doesn't contain an album an empty category) */   
	color : #FFFFCC; 
	background : #343333 ; 
	padding-top: 3px;
    padding-right: 10px;
    padding-bottom: 3px;
    padding-left: 10px;
}

.checkbox {      /* Used for checkboxes (<input type="checkbox" class="checkbox" />) */   
	color: #FFFFCC;
	background-color: #4A4A4A;	
	font-size: 100%;
    vertical-align : middle;
}

.clickable_option {      /* Used for the labels of radio buttons and checkboxes. */   
	font-weight: bold;
    cursor : default;
}

.comment_date {      /* Used to format the date of comments on the displayimage page */   
	color : #5F5F5F;
    font-size: 90%;
    vertical-align : middle;
}

.cpg_main_block {      /* Overall wrapper for the entire gallery block in the template. */ }
.cpgChooseLanguageWrapper {      /* Wrapper around the language selector. */ }
.cpgChooseThemeWrapper {      /* Wrapper around the theme selector. */   }

.debug_text {      /* Used for the debug_output when in debug mode. */   
	border: #BDBEBD;
	background-color: #EFEFEF;
	width : 100%;
	margin : 0px;
}

.display_media {      /* . */   
	background : #454444 ;
    padding-top: 3px;
    padding-right: 10px;
    padding-bottom: 3px;
    padding-left: 10px;
    white-space: nowrap;
}

.filmstrip_background {      /* Background for the film strip display. */ }

.footer {      /* Wraps the "Powered by Coppermine" tag at the bottom, see section "Copyright-disclaimer in footer". */   
/*	font-size : 9px; */
	position: relative;
	background: url("images/drop_back_grey.png") repeat-x center center;
	height: 25px;
	line-height: 20px;
	color: #FFFFFF;
}
.footer a {
	color : #00FF00;
	text-decoration: underline;
	font-weight:bold;
}
.footer a:hover {
	color : #1DB8FE;
	text-decoration: underline;
	font-weight:bold;
}
.footer a:visited {
	color : #F0AF00;
	text-decoration: underline;
	font-weight:bold;
}

.greybox {
	color: #FFFF00;
}

.icon {
	vertical-align: middle;
	padding-right: 2px;
	padding-left: 2px;
}

.image {      /* Wraps the intermediate image */   
	margin: 2px;
	border: 1px solid #000000; 
}
.imageborder {
	/* Wraps the intermediate image on the displayimage screen. */   
/*	border: 1px solid #010101;
	background-color: #FFFFFF; */
	margin-top: 30px;
	margin-bottom: 30px;
	padding-bottom: 0px;
	height: 100%
}

.img_caption_table {      /* . */   
	border: none;
	width : 100%;
	margin : 0px;
}

.important { /* Warning text that should stand out. Usually, red font color should do the trick unless your theme background is red. */ }

.listbox {      /* Used for dropdown fields (<select><option class="listbox"></option></select>) */   
	color: #FFFFFF;
	background-color: #6A6A6A; 
    font-size: 100%;
    vertical-align : middle;
}

.listbox_lang {      /* Used for dropdown fields for the language selector (<select><option class="listbox_lang"></option></select>) */   
    color: #FFFFFF;
    background-color: #4B4B4B;
    font-size: 80%;
    vertical-align : middle;
}

.maintable {      /* Used for all table-tags (<table class="maintable">) */   
/*	background-color: #222222; 
	margin-top: 2px;
	margin-bottom: 2px;*/
	width: 100%;
	color: #FFFFFF;
}

.middlethumb { /* Used for the center thumbnail of the film strip - the one that corresponds to the intermediate image that is currently being displayed. */ }

.navmenu_pic {
	border: medium groove #800000;
	padding-right: 40px;
	padding-left: 40px;
	margin-right: 20px;
	margin-left: 20px;
}
.navmenu_pic hover {
	background-image: url('images/drop_1b_bg.png');
	background-repeat: no-repeat;
}
.navmenu {
	/* Wraps each menu item on the navigation menu of the intermediate image display page. */   
	display: block;
	font-weight: bold;
	color : #FFFFFF;
	background: url('images/drop_back_grey.png') repeat-x center center;
	height : 30px;
	width:auto;
}
.Xnavmenu img { margin-top: 5px; }

/* Slide show stop button hovered */
.navmenu a:hover {
	color : #FF0000;
	background: url('images/drop_back.gif') repeat-x center center;
}

.file_info {
	/* . */   
	padding: 0px 0px 0px 10px;
	margin: 0px;
	color: #00FF00;
	font-size: 100%;
	
	font-weight: bold;
	text-align : left;
	line-height: 1.0em;
	vertical-align: middle;
}
.filepath {
	/* . */   
	padding: 5px 0px 5px 10px;
	margin: 0px;
	color: #FFFFFF;
	font-size: 100%;
	font-weight: bold;
	text-align : left;
	line-height: 1.0em;
	vertical-align: middle;
}
#pic_sort {
	width: 100%;
	padding-left: 0;
	padding-right: 00px;
	
	margin-left: 0;
	margin-right: 20px;
}
.pic_thumbnail {
	margin-right: 20px;
	margin-left: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 150px;
}

.pic_caption {      /* . */   
	color: #000000;
	font-size: 100%;
	
	font-weight:bold;
	text-align : center;
	padding-top:0px;
	padding-bottom:0px;
	margin-top:0px;
	margin-bottom:0px;
	line-height:1.0em;
}

.pic_title {      /* . */   
        color: #000000;
        font-size: 120%;
        
        font-weight:bold;
        text-align : center;
        padding-top:0px;
        padding-bottom:0px;
        margin-top:0px;
        margin-bottom:0px;
        line-height:1.0em;
}

.radio {      /* Used for radio buttons (<input type="radio" class="radio" />) */   
	color: #FFFFCC;
	font-size: 100%;
    vertical-align : middle;
}


.sortorder_cell {      /* Wraps the cell that contains the sortorder options on the tumbnails page */   
	color : #C6B78E;
	height: 20px;
	text-align:right;
}

.sortorder_options {      /* Wraps each individual sortorder option on the tumbnails page */   
/*	background : #3F3F3F ;
	
	padding: 0px;
	margin: 0px; */
	font-weight: bold;
	font-size: 100%;
	white-space: nowrap;
	color : #FFFFFF;
}

.statlink {   
	color : #ffffff;
	padding-left: 6px;
	padding-right: 6px;
}
.tableb {
	/* Regular table cell */   
	background : #454444;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 10px;
	padding-right: 10px;
	color: #FFFFFF;
	margin-right: 15px;
	margin-left: 15px;
}
.tableb a{
	color: #00FF00;
}
.tableb_compact {
	background: #444444;
	/* Regular table cell   */
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 10px;
	padding-right: 10px;
	color: #FFFFFF;
	margin-right: 15px;
	margin-left: 15px;
}
.tableb_compact a, .tableb_compact_alt a {
	color: #00FF00;
}
.tableb_compact_alt {
	background: #333333;
	/* Regular table cell  */
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 10px;
	padding-right: 10px;
	color: #FFFFFF;
	margin-right: 15px;
	margin-left: 15px;
}

.tableb_alternate {
	/* Alternating color that corresponds to tableb to achieve tables that are easier to read */ 
	background: #504f4f;
	color:#FFFFFF;
}

.tablef {      /* Table footer row, usually contains the form submit buttons or pagination */   
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	background : #343333 ;
}
.tablef a{
	color: #00FF00;
}
.tableh1 {
	/* Used for table headers (the first row of a table usually) */   
	padding-left: 10px;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	height: 30px;
	background-image: url('images/back_grey_s.png'); 
 	background-position: center;
	background-repeat: repeat-x;
	font-weight: bold;
	color: #FFFFFF;
}
.tableh1m {
	/* Used for table headers (the first row of a table usually) */   
	color : #C6B78E;
	background-image: url('images/tableh1_bg_mirror.gif');
	height: 20px;
	width: 100%;
	vertical-align: middle;
    text-align : center;
}
.tableh2_compact {
	/* Used for table sub-headers (often the second row of a table) */   
	border-width: 1px;
	border-color: #000000;
	color : #0f0f0f;
	background : #d8d8d8;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
	border-style: solid;
	border-style: solid;
	height: 30px;
}

.tableh2, .tableh4 {
	/* Used for table sub-headers (often the second row of a table) */   
	color : #FFFFCC; 	
    background : #343333 ; 
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
	height: 30px;
}
.tableh2 a{
	color: #00FF00;
}

.tableh4X {
	/* Used for table sub-headers (often the second row of a table) */   
	margin: 10px;
	border-width: 1px;
	border-color: #000000;
	color : #FFFFCC; /*	background : #343333 ; */; 
	background-position: center;
	background-image: url('images/drop_back_grey.png');
	background-repeat: repeat;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
	border-top-style: solid;
	border-right-style: solid;
	line-height: 30px;
}
.tableh3 {
	/* Used for table sub-headers (often the second row of a table) */   
	background : #343333 ;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 2px;
	padding-left: 10px;
}
.textinput  {
	/*  Used for all text input fields (<input type="text" class="textinput" /> / <input type="password" class="textinput" /> / <textarea class="textinput"></textarea>)  */   
	
	font-size: small;
	padding-right: 3px;
	padding-left: 3px;
	color: #FFFFCC;
	background-color: #4A4A4A;
	border: 1px solid #666666;
}
.thumb_caption {      /* Wraps the file caption (the description) displayed underneath the thumbnail if the corresponding option "Display file caption (in addition to title) below the thumbnail" has been enabled in config. */   
    font-size: 80%;
    padding: 1px;
    display : block;
}

.thumb_filename {      /* Wraps the filename displayed underneath the thumbnail if the corresponding option "Display the file name below the thumbnail" has been enabled in config. */   
    font-size: 100%;
    display: block;
}

.thumb_num_comments {      /* Wraps the display of the number of comments displayed underneath the thumbnail if the corresponding option "Display number of comments below the thumbnail" has been enabled in config. */   
    font-weight: normal;
    font-size: 85%;
    padding: 2px;
    font-style : italic;
    display : block;
}

.thumb_title {      /* Wraps the title displayed underneath the thumbnail */   
	font-weight : bold;
	font-size: 80%;
	padding: 2px;
	display : block;
}

.thumbnails {      /* . */   
	background : #454444 ;
	padding: 5px;
}
.topmenu {      /* . */   
	color : #E6E6E6;
    line-height : 130%;
    font-size : 110%;

}
.user_thumb_infobox {      /* . */   
	color: #FFFFCC;
    margin-top: 1px;
    margin-bottom: 1px;
    text-align:center;
}
.user_thumb_infobox a {
	color: #00FF00;
}
/*-------------------------------Added for My Theme-----------------------*/
.drop_down {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	display: inline;
}
.drop_down_2 {
	color: #C6B78E;
	background-color: #4A4A4A;
	margin: 4px;
	padding: 2px;
	border: 1px solid #000000;
	font-size: 14px;
	vertical-align : middle;
}
.topmenu-v {
        white-space:nowrap;
}

#framecontent{
	color : #C6B78E;
	background-color: #FCFCFC;
     
    font-size : 12px;
    margin: 0px;
    padding:0px;
	position: absolute;
	top: 0;
	bottom: 0; 
	left: 0;
	width: 100%; /*Width of frame div*/
	height: 30px;
	overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
}
#maincontent{
	background-color: #4A4A4A; 
    margin: 0px;
    padding:0px;
	border: 1px solid #000000;
	position: fixed;
	width: 100%;
	top: 30px;
	left: 0; /*Set left value to WidthOfFrameDiv*/;
	right: 0;
	bottom: 0;
	overflow: auto;
}

.innertube{
/*margin: 5px; Margins for inner DIV inside each DIV (to provide padding)*/
}
.body {
	background-color: #4A4A4A;
	margin: 0px;
	padding: 0px;
	color: #FFFFFF;
	font-family: "Trebuchet MS", Verdana, Geneva, Arial, sans-serif;
	font-size: small;
}

* html body{ /*IE6 hack*/
	padding: 0 0 150px 0;
	background-color: #4A4A4A;
}

* html #maincontent{ /*IE6 hack*/
	height: 100%; 
	width: 100%; 
}
.top_panel {
    background-image: url('images/top_panel_r1_c4.jpg');
    background-repeat : repeat-x;
	z-index: 1;
	height: 70px;
    border-collapse:collapse;
    margin: 0;
    padding: 0;
}

.top_panel_left {
    background-position: top left;
    background-image: url('images/top_panel_r1_c1.jpg');
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.top_panel_right {
    background-image: url('images/top_panel_r1_c2.jpg');
    background-repeat : no-repeat;
    background-position: top right;
    margin: 0;
    padding: 0;
}

h1{
        font-weight: normal;
        font-size: 28px;
        text-decoration: none;
        padding-left : 20px;
        color: #FFFFFF;
        margin: 2px;
}

h2 {
        
        background-image : url("images/box_left_icon.gif");
        background-repeat : no-repeat;
        background-position : left;
        padding-left : 18px;
        font-size: 18px;
        margin: 0px;
}

h3 {
        font-weight: normal;
        font-size: 14px;
        padding-left : 20px;
        color: #F0AF00;
        margin: 2px;
}

.navmenu2 {
        font-weight: bold;
        border: none;
        background-image: url("images/tableh1_bg.gif");
}

.navmenu2 img {
        margin-top: 5px;
}

a {
	color:#00FF00;
}
a:hover {
	color:	#1DB8FE;
}
a:visited {
	color: #F0AF00;
}
a:visited:hover {
	color: #1DB8FE;
}


/* pseudo-classes for image links */
a:link .image{
        border-style:solid;
        border-width:2px;
        border-color:#000000;
        margin:2px;
}

a:visited .image{
        border-style:solid;
        border-width:2px;
        border-color:#840084;
        margin:2px;
}

a:focus .image{
        border-style:solid;
        border-width:2px;
        border-color:#000000;
        margin:2px;
}
a:hover .image{
        border-style:solid;
        border-width:2px;
        border-color:#0033CC;
        margin:2px;
}

a:active .image{
        border-style:solid;
        border-width:1px;
        border-color:#000000;
        margin:2px;
}

.cpg_message_info, .cpg_message_success, .cpg_message_warning, .cpg_message_error, .cpg_message_validation {
	border: 1px solid;
	margin: 10px 0px;
	padding: 15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center; 
}
.cpg_message_info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../../images/message/info.png');
}
.cpg_message_success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image: url('../../images/message/ok.png');
}
.cpg_message_warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../../images/message/warning.png');
}
.cpg_message_error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../../images/message/stop.png');
}
.cpg_message_validation {
    color: #D63301;
    background-color: #FFCCBA;
    background-image: url('../../images/message/error.png');
}
#GB_window {
  background-color: #FFFFFF;
  border: 5px solid #AAAAAA;
}

#S_option_config{  
	background-image: url('../../images/icons/config.png');
	background-repeat: no-repeat;
	background-position: 3px center;
	padding-left: 25px;
}  
#S_option_bridge_mgr{  
	background-image: url('../../images/icons/bridge_mgr.png');
	background-repeat: no-repeat;
	background-position: 3px center;
	padding-left: 25px;
}  
/* - if you use the modpack, then these additional style elements should already be in your style.css
   - that's the colors I use for the classic theme
   - you can have a look at the oranje and tentacle modpack theme for other color shemes
*/

/* shop admin, my orders active/ archive bar (not to see if pms_linecolor1+2 are missing in the css ) */
.pms_linecolor1
{
background-color: #0E72A4;
font-size: 10px;
}

.pms_linecolor2
{
background-color: #71ACCA;
font-size: 10px;
}

/* td background color in shop admin */
.alt1, .alt1Active
{
	background-color: #F8FAFC;
	font-family: verdana, arial, helvetica, sans-serif;
}

.alt2, .alt2Active
{
	background-color: #cacaca;
	font-family: verdana, arial, helvetica, sans-serif;
}

/* margin paid/sent icons in my orders and admin */
.pms_legend
{
        margin: 10px;
}

/* shop admin, mny orders panel where the active/ archive bar is on */
.panel
{
	background: #F8FAFC;
	color: #000000;
	padding: 10px;
	border: 2px outset;
}

.panelsurround
{
	background: #cacaca;
	color: #000000;
}

/* used for the small font in admin and my orders */
.smallfont
{
font-size: 10px;
}

/* added for new menu approach */

#multi-level {
	height: 30px;
	position: relative;
	background: url('images/drop_back_grey.png') repeat-x;
	padding-left: 5px;
	border: 1px solid #000;
	z-index: 3;
}
#multi-level_nav_left {
	line-height: 30px;
	position: relative;
	background: url('images/drop_back_grey.png') repeat-x;
	z-index: 2;
}

#multi-level_nav_right {
	border-style: solid;
	border-color: #000;
	margin: 0px;
	padding: 0px 0px 0px 20px;
	
	color : #FFFFFF;
	font-weight: bold;
	height: 30px;
	position: relative;
	background: url('images/drop_back_grey.png') repeat-x center center;
	border-width: 0 1px 0 4px;
	z-index: 2;
	text-align: left;
	vertical-align: text-bottom;
	float: left;
	width: 100%;
}
/* Default link styling */
/* The menu styling */
.tabs_line {
	/* Wraps each menu item on the navigation menu of the intermediate image display page. */   
	font-weight: bold;
	color : #FFFFFF;
	background: url('images/drop_back_grey.png') repeat-x center center;
	text-align: right;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
	vertical-align: middle;
	line-height: 30px;
	z-index: 0;
}

.tabs a{ text-decoration: none;color: #FFFFFF; }
.tabs a:visited{color: #F0AF00; }
.tabs a:hover{color: #FF3300; }

.tabs, .tabs ul 
{list-style-type : none; padding: 0; margin: 0; font-size: 14px; text-decoration: none; color: #FFFFFF; line-height: 20px; z-index: 0;}
/* Set up the size of the list items and float left to place inline */
.tabs li.top {display : block; float: left; position: relative;  z-index: 0;}
/* Makes cursor hand Style the list OR link hover. Depends on which browser is used */
.tabs a:hover  {visibility: visible; cursor: pointer; position: relative;  z-index: 0;}
.tabs li:hover {position:relative;  z-index: 0;}

/* Left side of button not drop not hovering */
.tabs li.top a.top_link_active 
{ display: block; float: left; height: 30px; padding: 0 0px 0 20px;
	background: url('images/tabs_hover_active.png') no-repeat left center; }
/* Right side of button not drop not hovering */
.tabs li.top a.top_link_active span.span_top_active
{display: block; float: left; height: 30px; padding: 0 20px 0 0px ;
    background: url('images/tabs_hover_active.png') no-repeat right center; }

/* Left side of button not drop not hovering */
.tabs li.top a.top_link 
{ display: block; float: left; height: 30px; padding: 0 0px 0 20px;
	background: url('images/tabs_nohover.png') no-repeat left center; }
/* Right side of button not drop not hovering */
.tabs li.top a.top_link span.span_top
{display: block; float: left; height: 30px; padding: 0 20px 0 0px ;
    background: url('images/tabs_nohover.png') no-repeat right center; }
    
/* left side button down while over button, left side button down while in drop down */
.tabs li.top a.top_link:hover,  		.tabs li.top:hover a.top_link
{background: url('images/tabs_hover.png') no-repeat left center;}
/* right side button down while over button, right side button down while in drop down */
.tabs  li.top a.top_link:hover span,	.tabs li.top:hover a.top_link span
{background: url('images/tabs_hover.png') no-repeat right center;}
/* Left side of button not drop not hovering */
.tabs li.top a.top_link_left span.span_top_left
{ display: block; float: left; height: 30px; padding: 0 0px 0 10px; width: 40px;
	background: url('images/tabs_left.png') no-repeat center center; }
/* Left side of button not drop not hovering */
.tabs li.top a.top_link_right span.span_top_right
{ display: block; float: left; height: 30px; padding: 0 0px 0 10px; width: 40px;
	background: url('images/tabs_right.png') no-repeat center center; }

/* Left side of button not drop not hovering */
.tabs li.top a.top_link_left:hover span.span_top_left
{ display: block; float: left; height: 30px; padding: 0 0px 0 10px; width: 40px;
	background: url('images/tabs_left_hover.png') no-repeat center center; }
/* Left side of button not drop not hovering */
.tabs li.top a.top_link_right span.span_top_right:hover
{ display: block; float: left; height: 30px; padding: 0 0px 0 10px; width: 40px;
	background: url('images/tabs_right_hover.png') no-repeat center center; }

    
/*-------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------*/

/* The menu styling */
.menu, .menu ul, .menu2, .menu2 ul {list-style-type :none; padding:0; margin:0; font-size:14px; z-index: 1;}
/* Set up the size of the list items and float left to place inline */
.menu li.top, .menu2 li.top {               display : block; float: left; position: relative; margin: 0;}

/* Style and position the table so it takes no part in the menu function. The font size is necessary for IE5.5 */
.menu table, .menu2 table{border-collapse:collapse; width:0; height:0; position:absolute; top:0; left:0;}

/* Default link styling */
/* Button top left not hovering */
.menu li.top a.top_link
{ display: block; float: left; height: 30px; line-height: 30px; text-decoration: none; color: #FFFFFF; padding: 0;
	background: url('images/drop_0a_grey.png') no-repeat left center; margin: 0; }
.menu2 li.top a.top_link
{ display: block; float: left; height: 30px; line-height: 30px; text-decoration: none; color: #FFFFFF; padding: 0;
	background: url('images/drop_0a_grey.png') no-repeat left center; margin: 0; }

/* Right side of button not drop not hovering */
.menu li.top a.top_link span.span_top, .menu2 li.top a.top_link span.span_top
{ display: block; float: left; height: 30px;
	background: url('images/drop_1a_grey.png') no-repeat right center; padding: 0 5px 0 5px ;}

/* Button top left image part*/
.menu li.top a.top_link b.b_top, .menu2 li.top a.top_link b.b_top
{display:block; float:left; height:30px; background: url('images/drop_0a_grey.png') no-repeat  left center; padding: 0 0 0 35px;}

/* Right side of button drop not hover */
.menu  li.top a.top_link span.drop, .menu2 li.top a.top_link span.drop
{ background: url('images/drop_0a_grey.png') no-repeat right center; padding: 0 25px 0 5px; }
 
.menu li a#admin_tools b.b_top		{background: transparent url('images/icons/util.png') no-repeat center center; }
.menu li a#albums b.b_top 			{background: transparent url('images/icons/alb_mgr.png') no-repeat center center; }
.menu li a#config b.b_top 			{background: transparent url('images/icons/config.png') no-repeat center center; }
.menu li a#users b.b_top 			{background: transparent url('images/icons/groups_mgr.png') no-repeat center center; }
.menu li a#top_level_user b.b_top 	{background: transparent url('images/icons/user_mgr.png') no-repeat center center; }
.menu li a#top_level_albums b.b_top {background: transparent url('images/icons/searchnew.png') no-repeat center center; }
.menu li a#Shopping b.b_top 		{background: transparent url('images/My_icons/shopping_cart.png') no-repeat center center; }
.menu li a#Shopping_white b.b_top 	{background: transparent url('images/My_icons/shopping_cart_white.png') no-repeat center center; }
.menu li a#Sort b.b_top 			{background: transparent url('images/icons/picture_sort.png') no-repeat center center; }
.menu2 li a#AlbumMgr b.b_top 		{background: transparent url('images/icons/alb_mgr.png') no-repeat center center; }

/* Makes cursor hand Style the list OR link hover. Depends on which browser is used */
.menu a:hover,  .menu2 a:hover {visibility: visible; cursor: pointer; position: relative; }
.menu li:hover, .menu2 li:hover{position:relative; }

/* Style the top level links */

/* left side button down while over button, left side button down while in drop down */
.menu   li.top a.top_link:hover,  .menu   li.top:hover a.top_link
{background: url('images/drop_0b_bg.png') no-repeat left center;}
/* left side button down while over button, left side button down while in drop down */
.menu2  li.top a.top_link:hover,  .menu2  li.top:hover a.top_link
{background: url('images/drop_0b_bg.png') no-repeat left center;}

/* right side of button no drop down */
/* right side button down while over button, right side button down while in drop down */
.menu  li.top a.top_link:hover span,       .menu   li.top:hover a.top_link span
{background: url('images/drop_1b_bg.png') no-repeat right center;}

/* right side button down while over button, right side button down while in drop down */
.menu   li.top a.top_link:hover span.drop, .menu   li.top:hover a.top_link span.drop
{background: url('images/drop_0b_bg.png') no-repeat right center;}
/* right side button down while over button, right side button down while in drop down */
.menu2  li.top a.top_link:hover span.drop, .menu2  li.top:hover a.top_link span.drop
{background: url('images/drop_0b_bg.png') no-repeat right center;}

/* keep the 'next' level invisible by placing it off screen. */
.menu ul, .menu ul ul, 
.menu :hover ul :hover ul ul,                     
.menu :hover ul :hover ul :hover ul ul,          
.menu :hover ul :hover ul :hover ul :hover ul ul
{position:absolute; left:-9999px; top:-9999px; width:0; height:0;}
.menu2 ul, .menu ul ul, 
.menu2 :hover ul :hover ul ul,                     
.menu2 :hover ul :hover ul :hover ul ul,          
.menu2 :hover ul :hover ul :hover ul :hover ul ul
{position:absolute; left:-9999px; top:-9999px; width:0; height:0;}

/* Style the drop down sub level links */
.menu :hover ul.sub {
	display:block; 
	float:left;
	height:auto;
	width:135px;
	left:0; 
	top:30px; 
	padding:3px 0 0 0; 
	background: transparent url('images/transparent.gif'); 
	white-space:nowrap; 
}
.menu2 :hover ul.sub {
	display:block; 
	float:left;
	height:auto;
	width:135px;
	left:0; 
	top:30px; 
	padding:3px 0 0 0; 
	background: transparent url('images/transparent.gif'); 
	white-space:nowrap; 
}

/*left side of drop down not hovering*/
.menu :hover ul.sub li a {
	display: block;
	float: left;
	height: 25px;
	width: 255px;
	line-height: 25px;
	color: #000;
	text-decoration: none;
	padding: 0;
	background: url('images/dropa_0_wide.png') no-repeat left center;
}
.menu2 :hover ul.sub li a {
	display: block;
	float: left;
	height: 25px;
	width: 255px;
	line-height: 25px;
	color: #000;
	text-decoration: none;
	padding: 0;
	background: url('images/dropa_0_wide.png') no-repeat left center;
}

/*right side of drop down */
.menu :hover ul.sub li a span { 
	display: block;
	float: left;
	height: 25px;
	width: 200px;	
	color: #000;
	
	padding: 0 10px 0 5px;
	background: url('images/drop_0.gif') no-repeat right center;

	font-weight: normal;
	position: relative;
	margin-bottom: 0;
}
.menu2 :hover ul.sub li a span {
	display: block;
	float: left;
	height: 25px;
	width: 200px; /* this is the width of the hover block */;
	color: #000;
	padding: 0 10px 0 10px;
	background: url('images/drop_0.gif') no-repeat right center;
	font-weight: normal;
	position: relative;
}

/* Left side of drop down while hovering */	
.menu :hover ul.sub li a:hover,
.menu :hover ul.sub li a:hover ul li a:hover,
.menu :hover ul.sub li a:hover ul li a:hover ul li a:hover,
.menu :hover ul.sub li a:hover ul li a:hover ul li a:hover ul li a:hover,
.menu :hover ul.sub li a:hover ul li a:hover ul li a:hover ul li a:hover ul li a:hover
{position: relative; background: url('images/dropba_1_grey_wide.png') no-repeat left center; color:#fff;}
.menu2 :hover ul.sub li a:hover,
.menu2 :hover ul.sub li a:hover ul li a:hover,
.menu2 :hover ul.sub li a:hover ul li a:hover ul li a:hover,
.menu2 :hover ul.sub li a:hover ul li a:hover ul li a:hover ul li a:hover,
.menu2 :hover ul.sub li a:hover ul li a:hover ul li a:hover ul li a:hover ul li a:hover
{position: relative; background: url('images/dropba_1_grey_wide.png') no-repeat left center; color:#fff;}

/* Right side of drop down while hovering */	
.menu :hover ul.sub li a:hover span
{position: relative; background: url('images/drop_1_grey.png') no-repeat right center; color: #fff; }
.menu2 :hover ul.sub li a:hover span
{position: relative; background: url('images/drop_1_grey.png') no-repeat right center; color: #fff; }

/* Style the images to the left of each link */
.menu ul.sub b {display:block; float:left; height:25px; width:25px;}
.menu ul.sub b.Xicon { margin-top: 5px; margin-left: 3px;}
.menu2 ul.sub b {display:block; float:left; height:25px; width:25px;}
.menu2 ul.sub b.Xicon { margin-top: 5px; margin-left: 3px;}

/* sys_menu and sub_menu ICONS that use Custom ICONs */
.menu ul.sub b.Alb_List 	{background: transparent url('images/My_icons/album_list.png') no-repeat center center; }
.menu ul.sub b.Search 		{background: transparent url('images/My_icons/viewmag.png') no-repeat center center; }
.menu ul.sub b.Home 		{background: transparent url('images/My_icons/home.png') no-repeat center center; }
.menu ul.sub b.Contact 		{background: transparent url('images/My_icons/edit.png') no-repeat center center; }
.menu ul.sub b.My_Gallery 	{background: transparent url('images/My_icons/gallery.jpg') no-repeat center center; }
.menu ul.sub b.Admin_Mode 	{background: transparent url('images/My_icons/show_controls.png') no-repeat center center; }
.menu ul.sub b.User_Mode 	{background: transparent url('images/My_icons/hide_controls.png') no-repeat center center; }
.menu ul.sub b.SideBar 		{background: transparent url('images/My_icons/configure.jpg') no-repeat center center; }
.menu ul.sub b.Register 	{background: transparent url('images/My_icons/identity.png') no-repeat center center; }
.menu ul.sub b.LogIn 		{background: transparent url('images/My_icons/encrypted.png') no-repeat center center; }
.menu ul.sub b.LogOut 		{background: transparent url('images/My_icons/decrypted.png') no-repeat center center; }

/* Sys_menu and sub_menu ICONS that use standard ICONs */
.menu ul.sub b.LastUpload 	{background: transparent url('images/icons/last_uploads.png') no-repeat center center;}
.menu ul.sub b.LastComment 	{background: transparent url('images/icons/comment.png') no-repeat center center; }
.menu ul.sub b.TopN_Lnk 	{background: transparent url('images/icons/most_viewed.png') no-repeat center center;}
.menu ul.sub b.TopRated 	{background: transparent url('images/icons/top_rated.png') no-repeat center center; }
.menu ul.sub b.Favorite 	{background: transparent url('images/icons/favorites.png') no-repeat center center; }
.menu ul.sub b.Browse 		{background: transparent url('images/icons/keyword_mgr.png') no-repeat center center; }
.menu ul.sub b.Custom_Lnk 	{background: transparent url('images/icons/keyword_mgr.png') no-repeat center center; }
.menu ul.sub b.Upload_Pic	{background: transparent url('images/icons/upload.png') no-repeat center center; }
.menu ul.sub b.ADMIN_ICO	{background: transparent url('images/icons/alb_mgr.png') no-repeat center center; }
.menu ul.sub b.PLUGINMGR_ICO	{background: transparent url('images/icons/plugin_mgr.png') no-repeat center center; }

/* for narbar buttons */
.menu li a#Next b.b_top 		{background: transparent url('images/icons/down.png') no-repeat center center;	width: 44px; padding-left: 38px;  }
.menu li a#Prev b.b_top 		{background: transparent url('images/icons/up.png') no-repeat center center; width: 44px; padding-left: 38px; }
.menu li a#Ecard b.b_top 		{background: transparent url('images/icons/mail.png') no-repeat center center; 	width: 20px; }
.menu li a#Thumbnails b.b_top 	{background: transparent url('images/icons/thumbnails.png') no-repeat center center; width: 20px; }
.menu li a#Report b.b_top 		{background: transparent url('images/icons/report.png') no-repeat center center; width: 20px; }
.menu li a#Slide b.b_top 		{background: transparent url('images/icons/slideshow.png') no-repeat center center; width: 20px; }
.menu li a#PicInfo b.b_top 		{background: transparent url('images/icons/info.png') no-repeat center center; width: 20px; }

/* BEGIN config */
.menu ul.sub b.config {background: transparent url('images/icons/alb_mgr.png') no-repeat center center; }
/* BEGIN plugin_manager */
.menu ul.sub b.plugin {background: transparent url('images/icons/plugin_mgr.png') no-repeat center center; }       
/* BEGIN bridge_manager */
.menu ul.sub b.bridge {background: transparent url('images/icons/bridge_mgr.png') no-repeat center center; }
/* BEGIN export */
.menu ul.sub b.export {background: transparent url('images/icons/export.png') no-repeat center center; }
/* BEGIN update_database */
.menu ul.sub b.update {background: transparent url('images/icons/update_database.png') no-repeat center center; }
/* BEGIN check_versions */
.menu ul.sub b.check {background: transparent url('images/icons/check_versions.png') no-repeat center center; }
/* BEGIN view_log_files */
.menu ul.sub b.log {background: transparent url('images/icons/view_logs.png') no-repeat center center; }
/* BEGIN php_info */
.menu ul.sub b.php {background: transparent url('images/icons/phpinfo.png') no-repeat center center; }
/* BEGIN show_news */
.menu ul.sub b.news {background: transparent url('images/icons/news_show.png') no-repeat center center; }
/* BEGIN documentation */
.menu ul.sub b.docs {background: transparent url('images/icons/documentation.png') no-repeat center center; }
/* BEGIN catmgr */
.menu ul.sub b.catmgr {background: transparent url('images/icons/cat_mgr.png') no-repeat center center; }
/* BEGIN albmgr */
.menu ul.sub b.albmgr {background: transparent url('images/icons/alb_mgr.png') no-repeat center center; }
/* BEGIN picmgr */
.menu ul.sub b.picmgr {background: transparent url('images/icons/picture_sort.png') no-repeat center center; }
/* BEGIN review_comments */
.menu ul.sub b.comments {background: transparent url('images/icons/comment_approval.png') no-repeat center center; }
/* BEGIN log_ecards */
.menu ul.sub b.ecards {background: transparent url('images/icons/plugin_mgr.png') no-repeat center center; }
/* BEGIN admin_approval */
.menu ul.sub b.people {background: transparent url('images/icons/plugin_mgr.png') no-repeat center center; }
/* BEGIN usermgr */
.menu ul.sub b.usermgr {background: transparent url('images/icons/user_mgr.png') no-repeat center center; }
/* BEGIN groupmgr */
.menu ul.sub b.groupmgr {background: transparent url('images/icons/groups_mgr.png') no-repeat center center; }
/* BEGIN banmgr */
.menu ul.sub b.banmgr {background: transparent url('images/icons/ban_user.png') no-repeat center center; }
/* BEGIN admin_profile */
.menu ul.sub b.profile {background: transparent url('images/icons/my_profile.png') no-repeat center center; }
/* BEGIN admin_tools */
.menu ul.sub b.tools {background: transparent url('images/icons/util.png') no-repeat center center; }
/* BEGIN batch_add */
.menu ul.sub b.batch {background: transparent url('images/icons/plugin_mgr.png') no-repeat center center; }
/* BEGIN exif_manager */
.menu ul.sub b.exif {background: transparent url('images/icons/exif_mgr.png') no-repeat center center; }
/* BEGIN keyword_manager */
.menu ul.sub b.keyword {background: transparent url('images/icons/keyword_mgr.png') no-repeat center center; }
/* BEGIN overall_stats */
.menu ul.sub b.stats {background: transparent url('images/icons/plugin_mgr.png') no-repeat center center; }
/* BEGIN overall_stats */
.menu2 ul.sub b.Delete {background: transparent url('images/icons/delete.png') no-repeat center center; }
.menu ul.sub b.AlbumProp, .menu2 ul.sub b.AlbumProp {background: transparent url('images/icons/modifyalb.png') no-repeat center center; }
.menu2 ul.sub b.EditMgr {background: transparent url('images/icons/edit.png') no-repeat center center; }
.menu ul.sub b.DownArrow {background: transparent url('images/icons/down.png') no-repeat center center; }
.menu ul.sub b.UpArrow {background: transparent url('images/icons/up.png') no-repeat center center; }
.menu ul.sub b.Shopping {background: transparent url('images/My_icons/shopping_cart.png') no-repeat center center; }
.menu ul.sub b.Accept {background: transparent url('images/My_icons/accept.png') no-repeat center center; }
.menu ul.sub b.MyOrders {background: transparent url('images/icons/searchnew.png') no-repeat center center; }
